<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Configured to display Level INFO or more severe on the Console and write it
     to the Log-file. Level DEBUG is only written to the Logfile. -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Filter used to display only INFO or more severe on the Console.
        (Can be changed to DEBUG to display more)-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- Here the Archiving can be configured. -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- used for IDE logging --><file>target/logs/core.log</file>
        <!-- used for external tomcat <file>webapps/team2/logs/core.log</file>-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- used for IDE logging --><fileNamePattern>target/logs/core_archived.%d.log.zip</fileNamePattern>
            <!-- used for external tomcat <fileNamePattern>webapps/team2/logs/core_archived.%d.log.zip</fileNamePattern>-->
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
    <!-- Logger which handles all DEBUG logs of the Project. -->
    <logger name="de.ep.team2.core.*" level="DEBUG">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>