body {
    height: 100%;
    width: 100%;
    background-image:  linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)),
    url("/initFileBackup/Hintergründe/background_gym_5_greyscale.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.button {
    background-color: #fd8900;
    border-color: #c35a00;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px #999999;
    /*padding: 10px 20px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*margin: 4px 2px;*/
    cursor: pointer;
    border-radius: 12px;
}
.button:hover,
.button:focus,
.button:active {
    color: white;
    background-color: #ee6900;
}
.panel-login{
    border-radius: 25px;
    border: 2pt solid #2E2E2E;
}
.panel-login .panel-heading {
    background-color: #fd8900;
    color: #ecf0f1;
    border-radius: 20px 20px 0px 0px;
    border: 1pt solid #2E2E2E;
    text-align: center;
    text-shadow: 0.5px 0.5px 0.5px #999999;
}
.panel-login .panel-footer {
    background-color: #eee;
    border-radius: 0px 0px 20px 20px;
    text-shadow: 0.1px 0.1px 0.1px #999999;
}