.scaler {
    height: 20vh;
    min-height: 25px;
}

/*Design choices for the Button class*/
.btn-block {
    height: 100%;
    width: 100%;
    min-height: 20px;
    min-width: 40px;
    padding: 20px 20px;
    float: inside;
    text-align: center;
    font-size: 4vw;
}

/* Create two columns that floats next to each other*/
.leftHalf {
    float: left;
    width: 50%;
    height: 100vh;
    background: #ffb74d;
    padding: 20px;
}

.rightHalf {
    float: left;
    width: 50%;
    height: 100vh;
    background: #e3f2fd;
    padding: 20px;
}

/*--------------------Table Styles-------------------*/
#user {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50vw;
}

#user td, #user th {
    border: 1px solid #ddd;
    padding: 8px;
}

#user tr:nth-child(even) {
    background-color: #f2f2f2;
}

#user tr:hover {
    background-color: #ddd;
}

#user th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightgrey;
    color: black;
}

/* Stacks the two halfs above each other when on small screens */
@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}