<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container" style="padding-top: 3%">
        <div class="jumbotron">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    Error :(
                </div>
                <div class="panel-body">
                    <p style="font-size: 15pt">Something went Wrong!</p>
                    <br>
                    <p th:text="${error}"/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>