<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Userdata</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/4.1.3/css/bootstrap.min.css"
          th:href="@{webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.3.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>

    <link href="../static/css/core.css"
          th:href="@{css/core.css}" rel="stylesheet" media="screen"/>

</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h1>Angaben für deinen individuellen Trainingsplan</h1>
        &ensp;
        <p>Fülle das folgende Formular aus und schicke deine Daten ab. Anschließend erhältst du dein Einstufungstraining</p>
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <label for="firstname">Vorname</label>
                    <input  type="text" class="form-control" id="firstname" placeholder="Hier deinen Vornamen eingeben...">
                </div>

                <div class="form-group">
                    <label for="lastname">Vorname</label>
                    <input  type="text" class="form-control" id="lastname" placeholder="Hier deinen Nachnamen eingeben...">
                </div>

                <!--
                <div class="form-group">
                    <label for="age">Alter</label>
                    <input  type="text" class="form-control" id="age" placeholder="Hier deinen Alter eingeben...">
                </div>
                -->

                <div class="form-group">
                    <label for="gender">Geschlecht auswählen</label>
                    <select id="gender" class="form-control" required>
                        <option selected disabled hidden>Wähle eine Option aus...</option>
                        <option>Männlich</option>
                        <option>Weiblich</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="height">Körpergröße (in cm)</label>
                    <input  type="number" class="form-control" id="height" placeholder="Hier deine Größe in cm eingeben...">
                </div>

                <div class="form-group">
                    <label for="weight">Gewicht (in kg)</label>
                    <input  type="number" class="form-control" id="weight" placeholder="Hier dein Gewicht in kg eingeben...">
                </div>

                <div class="form-group">
                    <!--
                    <label for="experienceLevel">Erfahrungsstufe auswählen</label>
                    <input type="text" name="experience" list="experienceLevel">
                    <datalist id="experienceLevel">
                        <option value="Anfänger ohne Vorkenntnisse" />
                        <option value="Anfänger mit geringen Vorkenntnissen" />
                        <option value="Erfahren" />
                        <option value="Profi" />
                    </datalist>
                    </input>
                    -->
                    <label for="experience">Erfahrungsstufe auswählen</label>
                    <select id="experience" class="form-control" required>
                        <option selected disabled hidden>Wähle eine Option aus...</option>
                        <option>Anfänger ohne Vorkenntnisse</option>
                        <option>Anfänger mit geringen Vorkenntnissen</option>
                        <option>Erfahren</option>
                        <option>Profi</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="focus">Trainingsfokus auswählen</label>
                    <select id="focus" class="form-control" required>
                        <option selected disabled hidden>Wähle eine Option aus...</option>
                        <option>Muskelaufbau</option>
                        <option>Ausdauer</option>
                        <option>Schmerzreduktion</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary btn-lg">Absenden</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>