<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Basic Template</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" style="padding-top: 50pt">
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <a href="mod_startup_page_web.html" type="button" class="btn btn-default btn-block">
                    <span class="glyphicon glyphicon-sunglasses"></span> Als Moderator einloggen
                </a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <a href="user_startup_page.html" type="button" class="btn btn-default btn-block">
                    <span class="glyphicon glyphicon-user"></span> Als User einloggen
                </a>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
</body>
</html>