<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nutzerübericht</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <!---
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    Removed Bootstrap table js, otherwise linking a row is not working.
    --->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.css"></script>

    <link href="../static/css/navbar.css"
          th:href="@{css/navbar.css}" rel="stylesheet" media="screen">

</head>
<body>
<div class="container">
    <!-- Standard-Navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Core</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="mod_startup_page_web.html">
                            <span class="glyphicon glyphicon-home"></span> Startseite
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-list-alt"></span> Trainingsplan
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="mod_plan_search.html">Planverzeichnis</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="mod_create_plan.html">Plan erstellen</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="mod_user_search.html">
                            <span class="glyphicon glyphicon-user"></span> Nutzer
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="mod_exercise_search.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-indent-left"></span> Trainingsübungen
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="mod_exercise_search.html">Übungsübersicht</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="mod_create_exercise.html">Neue Übung</a></li>
                        </ul>
                        <!-- Bis auf Weiteres nicht visualisiert
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-stats"></span> Statistiken
                            </a>
                        </li>
                        -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <a href="login_page.html" type="button" class="btn btn-default navbar-btn">
                        <span class="glyphicon glyphicon-log-out"></span> Abmelden</a>
                </ul>
            </div>
        </div>
    </nav>
</div>

<form class="form-horizontal" th:action="@{usersearch}"
      th:object="${searchtext}" method="post">
    <div class="container">
        <div class="jumbotron">
            <h2>Liste aller auf der Webseite registrierten Nutzer</h2>
            <br>
            <p style="font-size: 12pt">Gib in die folgende Eingabezeile ein beliebiges Attribut des oder der gesuchten Nutzer ein</p>
            <input class="form-control" id="myInput" type="text" placeholder="Suchwort eingeben..">
            <br>
        </div>
    </div>
    <div class="container">
        <table id="userTable" class="table table-bordered table-condensed" data-toggle="table">
            <thead>
                <tr>
                    <th data-field="ID" data-sortable="true">
                        <span class="glyphicon glyphicon-sort"></span> ID
                    </th>
                    <th data-field="email" data-sortable="true">
                        <span class="glyphicon glyphicon-sort"></span> Email
                    </th>
                    <th data-field="firstName" data-sortable="true">
                        <span class="glyphicon glyphicon-sort"></span> Vorname
                    </th>
                    <th data-field="lastName" data-sortable="true">
                        <span class="glyphicon glyphicon-sort"></span> Nachname
                    </th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr th:each="user : ${users}" style="cursor: pointer"
                    th:onclick="'javascript:rowClicked(\'' + ${user.getId()} + '\');'">
                    <td th:text="${user.getId()}"/>
                    <td th:text="${user.getEmail()}"/>
                    <td th:text="${user.getFirstName()}"/>
                    <td th:text="${user.getLastName()}"/>
                </tr>
            </tbody>
        </table>
    </div>
</form>

<!-- Code für das Filtern der Tabelle nach Suchwort -->
<script>
    jQuery(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<!--- Script to link every row with the user.
--->
<script>
    function rowClicked(value) {
        location.href = "/users/" + value;
    }
</script>

</body>
</html>