<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Trainingsübungen</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Imports for Bootstrap table -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.css"></script>

</head>
<body>
<div th:replace="/fragments/mod-navbar :: header"></div>

<form class="form-horizontal">
    <div class="container">
        <div class="jumbotron">
            <h2>Liste aller verfügbaren Trainingseinheiten</h2>
            <br>
            <br>
            <p style="font-size: 12pt">Gib in die folgende Eingabezeile ein
                beliebiges Attribut ein um
                eine bestimmte Übung zu finden</p>
            <input class="form-control" id="myInput" type="text"
                   placeholder="Suchwort eingeben..">
            <br>
            <a th:href="@{/mods/createexercise}" type="button"
               class="btn btn-success btn-medium">
                <span class="glyphicon glyphicon-plus-sign"></span> Neue
                Übung</a>
        </div>
    </div>
    <div class="container">
        <table id="exerciseTable" class="table table-bordered table-condensed"
               data-toggle="table">
            <thead>
            <tr>
                <th data-field="ID" data-sortable="true">
                    <span class="glyphicon glyphicon-sort"></span> ID
                </th>
                <th data-field="exerciseName" data-sortable="true">
                    <span class="glyphicon glyphicon-sort"></span> Übungsname
                </th>
                <th data-field="author" data-sortable="true">
                    <span class="glyphicon glyphicon-sort"></span> Autor
                </th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr>
                <td>001</td>
                <td>Front-Curl</td>
                <td>Paul Friedrich</td>
            </tr>
            <tr>
                <td>002</td>
                <td>Leg-Press</td>
                <td>Martin Maier</td>
            </tr>
            <tr>
                <td>006</td>
                <td>Klimmzüge</td>
                <td>Paul Friedrich</td>
            </tr>
            <tr>
                <td>008</td>
                <td>Bench-Press</td>
                <td>Paul Friedrich</td>
            </tr>
            <tr>
                <td>011</td>
                <td>Back-Curl</td>
                <td>Paul Friedrich</td>
            </tr>
            <tr>
                <td>015</td>
                <td>Leg-Press</td>
                <td>Martin Maier</td>
            </tr>
            </tbody>
        </table>
    </div>
</form>

<!-- Code für das Filtern der Tabelle nach Suchwort -->
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

</body>
</html>