<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Trainingsübungen</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.css"></script>

    <link href="../static/css/navbar.css"
          th:href="@{css/navbar.css}" rel="stylesheet" media="screen">

</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Core</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="mod_startup_page_web.html">
                            <span class="glyphicon glyphicon-home"></span> Startseite
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-list-alt"></span> Trainingsplan
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Planverzeichnis</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="mod_create_plan.html">Plan erstellen</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="mod_user_search.html">
                            <span class="glyphicon glyphicon-user"></span> Nutzer
                        </a>
                    </li>
                    <li class="dropdown; active">
                        <a href="mod_exercise_search.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-indent-left"></span> Trainingsübungen
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="mod_exercise_search.html">Übungsübersicht</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="mod_create_exercise.html">Neue Übung</a></li>
                        </ul>
                        <!-- Bis auf Weiteres nicht visualisiert
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-stats"></span> Statistiken
                            </a>
                        </li>
                        -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <a href="login_page.html" type="button" class="btn btn-default navbar-btn">
                        <span class="glyphicon glyphicon-log-out"></span> Abmelden</a>
                </ul>
            </div>
        </div>
    </nav>
</div>

<form class="form-horizontal">
    <div class="container">
        <div class="jumbotron">
            <h2>Liste aller verfügbaren Trainingseinheiten</h2>
            <br>
            <br>
            <p style="font-size: 12pt">Gib in die folgende Eingabezeile ein beliebiges Attribut ein um
            eine bestimmte Übung zu finden</p>
            <input class="form-control" id="myInput" type="text" placeholder="Suchwort eingeben..">
            <br>
            <a href="mod_create_exercise.html" type="button" class="btn btn-success btn-medium">
                <span class="glyphicon glyphicon-plus-sign"></span> Neue Übung</a>
        </div>
    </div>
    <div class="container">
        <table id="exerciseTable" class="table table-bordered table-condensed" data-toggle="table">
            <thead>
            <tr>
                <th data-field="ID" data-sortable="true">
                    <span class="glyphicon glyphicon-sort"></span> ID
                </th>
                <th data-field="exerciseName" data-sortable="true">
                    <span class="glyphicon glyphicon-sort"></span> Übungsname
                </th>
                <th data-field="author" data-sortable="true">
                    <span class="glyphicon glyphicon-sort"></span> Autor
                </th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr>
                <td>001</td>
                <td>Front-Curl</td>
                <td>Paul Friedrich</td>
            </tr>
            <tr>
                <td>002</td>
                <td>Leg-Press</td>
                <td>Martin Maier</td>
            </tr>
            <tr>
                <td>006</td>
                <td>Klimmzüge</td>
                <td>Paul Friedrich</td>
            </tr>
            <tr>
                <td>008</td>
                <td>Bench-Press</td>
                <td>Paul Friedrich</td>
            </tr>
            <tr>
                <td>011</td>
                <td>Back-Curl</td>
                <td>Paul Friedrich</td>
            </tr>
            <tr>
                <td>015</td>
                <td>Leg-Press</td>
                <td>Martin Maier</td>
            </tr>
            </tbody>
        </table>
    </div>
</form>

<!-- Code für das Filtern der Tabelle nach Suchwort -->
<script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

</body>
</html>