<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Planvorlage erstellen</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div th:include="/fragments/navbar :: navbar_style"></div>
</head>

<body>
<div th:replace="/fragments/navbar :: navbar_mod"></div>

<div class="container">
    <div class="jumbotron">
        <h2>Erstelle eine neue Trainingsplanvorlage</h2>
        &ensp;
        <p style="font-size: 12pt">Fülle das folgende Formular aus und speichere anschließend deine erstellte Vorlage
        für individuelle Trainingspläne.</p>
    </div>
    <!-- Verkleinern und zentrieren: <div class="col-md-1"></div>-->
    <div class="col-md-12">
        <table class="table table-bordered table-condensed" border="1" width="100%">
            <colgroup>
                <col width="5%">
                <col width="10%">
                <col width="30%">
                <col width="35%">
                <col width="5%">
                <col width="5%">
            </colgroup>
            <thead>
                <tr>
                    <th>Ordnung</th>
                    <th>Übung</th>
                    <th>Ausführung</th>
                    <th>Last/Wiederholungen/Sätze</th>
                    <th>Tempo</th>
                    <th>Pause</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="text" class="form-control" /></td>
                <td>
                    <input type="text" name="exercise" list="stored_exercises">
                        <datalist id="stored_exercises">
                            <option value="Liegestütze" />
                            <option value="Klimmzüge" />
                            <option value="Leg-Press" />
                            <option value="Bench-Press" />
                            <option value="Front-Curl" />
                            <option value="Back-Curl" />
                            <option value="Squad" />
                        </datalist>
                    </input>
                </td>
                <td>
                    <textarea id="description" class="form-control" rows="4"></textarea>
                </td>
                <td>
                    <table class="table table-bordered table-condensed">
                        <tbody>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-plus-sign"></span> Neuer Satz</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table table-bordered table-condensed">
                        <tbody>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="table table-bordered table-condensed">
                        <tbody>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="form-control" /></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus-sign"></span> Weitere Übung</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>