<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Moderator Startseite</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <div th:include="/fragments/navbar :: navbar_style"></div>
</head>

<body>

<div sec:authorize="hasRole('MOD')">
<div th:replace="/fragments/navbar :: navbar_mod"></div>
</div>


<div class="container" style="padding: 5%">
    <div class="jumbotron">
        <div style="width: 100%; text-align: center; padding-bottom: 20px">
            <table style="width: 100%; text-align: center; padding-bottom: 20px">
                <tr style="height: 100px;">
                    <td style="width: 50%; height: inherit;">
                        <div class="container" style="height: 100%; width: 100%;">
                            <!--------- Training Page ---------->
                            <a th:href="@{/mods/searchplan}" type="button"
                               class="btn btn-success" style="height: 100%; width: 100%;">
                                <span class="glyphicon glyphicon-th-list" style="font-size: 5rem;"></span><br>
                                Pläne
                            </a>
                        </div>
                    </td>
                    <td style="width: 50%; height: inherit;">
                        <div class="container" style="height: 100%; width: 100%;">
                            <!--------- Social Page ---------->
                            <a th:href="@{/mods/searchuser}" type="button"
                               class="btn btn-info" style="height: 100%; width: 100%;">
                                <span class="glyphicon glyphicon-user" style="font-size: 5rem;"></span><br>
                                Nutzerverwaltung
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 100%; text-align: center; padding-bottom: 20px">
            <table style="width: 100%; text-align: center; padding-bottom: 20px">
                <tr style="height: 100px;">
                    <td style="width: 50%; height: inherit;">
                        <div class="container" style="height: 100%; width: 100%;">
                            <!--------- Statistics Page---------->
                            <a type="button"
                               class="btn btn-primary" style="height: 100%; width: 100%;">
                                <span class="glyphicon glyphicon-book" style="font-size: 5rem;"></span><br>
                                Statistiken
                            </a>
                        </div>
                    </td>
                    <td style="width: 50%; height: inherit;">
                        <div class="container" style="height: 100%; width: 100%;">
                            <!--------- contacting-trainer Page ---------->
                            <a th:href="@{/mods/searchexercise}" type="button"
                               class="btn btn-info" style="height: 100%; width: 100%;">
                                <span class="glyphicon glyphicon-edit" style="font-size: 5rem;"></span><br>
                                Übungsverwaltung
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>