<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Moderator Startseite</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href="../static/css/navbar.css"
          th:href="@{css/navbar.css}" rel="stylesheet" media="screen">

    <style>
        #user {
            background: white;
        }
    </style>
</head>

<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Core</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="mod_startup_page_web.html">
                            <span class="glyphicon glyphicon-home"></span> Startseite
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-list-alt"></span> Trainingsplan
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="mod_plan_search.html">Planverzeichnis</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="mod_create_plan.html">Plan erstellen</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="mod_user_search.html">
                            <span class="glyphicon glyphicon-user"></span> Nutzer
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="mod_exercise_search.html" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-indent-left"></span> Trainingsübungen
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="mod_exercise_search.html">Übungsübersicht</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="mod_create_exercise.html">Neue Übung</a></li>
                        </ul>
                        <!-- Bis auf Weiteres nicht visualisiert
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-stats"></span> Statistiken
                            </a>
                        </li>
                        -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <a href="login_page.html" type="button" class="btn btn-default navbar-btn">
                        <span class="glyphicon glyphicon-log-out"></span> Abmelden</a>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="jumbotron">
        <h2>Liste aller User mit deinem Trainingsplan:</h2>
        <br>
        <br>
        <!-- Suchleiste bis auf Weiteres ausgeblendet
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form>
                    <div class="input-group">
                        <input id="search" type="text" class="form-control" placeholder="Nutzer suchen...">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div> -->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table id="user" class="table table-bordered table-condensed" border="1" width="100%">
                    <thead>
                        <tr>
                            <th>NutzerName</th>
                            <th>Ziel</th>
                            <th>Fokus</th>
                            <th>Einheit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Benedikt Schwarz</td>
                            <td>Muskelaufbau</td>
                            <td>Ganzkörper</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Benedikt Schwarz 2</td>
                            <td>Muskelaufbau</td>
                            <td>Ganzkörper</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Benedikt Schwarz 3</td>
                            <td>Muskelaufbau</td>
                            <td>Ganzkörper</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

</body>
</html>