<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>User Profile</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        #user, #plan {
            background: white;
        }
    </style>

    <div th:include="/fragments/navbar :: navbar_style"></div>
</head>

<body>

<div sec:authorize="hasRole('MOD')">
    <div th:replace="/fragments/navbar :: navbar_mod"></div>
</div>

<div sec:authorize="hasRole('USER')">
    <div th:replace="/fragments/navbar :: navbar_user"></div>
</div>

<div class="container">
    <div class="jumbotron">
        <div class="btn-group btn-group-justified">
            <a th:href="@{/user/plan}" type="button"
               class="btn btn-default">
                <span class="glyphicon glyphicon-list-alt"></span>
                 Plan des Nutzers
            </a>
            <a type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-stats"></span>
                 Statistiken des Nutzers
            </a>
            <a class="btn btn-danger" data-toggle="modal" data-target="#confirm_delete"
               sec:authorize="hasRole('MOD')">
                <span class="glyphicon glyphicon-remove"></span>
                Löschen
            </a>
        </div>
        <br>
        <div>
            <table class="table table-striped table-bordered" id="user">
                <tbody>
                <tr>
                    <th>User ID</th>
                    <td><p th:text="${user.id}"/></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><p th:text="${user.email}"/></td>
                </tr>
                <tr>
                    <th>First name</th>
                    <td><p th:text="${user.firstName}"/></td>
                </tr>
                <tr>
                    <th>Last name</th>
                    <td><p th:text="${user.lastName}"/></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="container">
        <table class="table table-striped table-hover table-bordered" id="plan"
               style="text-align: center">
            <thead>
            <tr>
                <th>Montag</th>
                <th>Dienstag</th>
                <th>Mittwoch</th>
                <th>Donnerstag</th>
                <th>Freitag</th>
                <th>Samstag</th>
                <th>Sonntag</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>11:00</td>
                <td></td>
                <td></td>
                <td>11:00</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>12:00</td>
                <td></td>
                <td></td>
                <td>14:00</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="confirm_delete">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- body (form) -->
            <div class="modal-body">
                <form th:object="${user}" th:action="@{/users/{path}(path=${user.id})}" th:method="delete" id="deleteForm">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h4>Löschen bestätigen</h4>
                        </div>
                        <div class="panel-body">
                            <p style="font-size: 16px">
                                Wollen sie den aktuellen Nutzer wirklich löschen?
                            </p>
                            <p class="text-danger" style="font-size: 12px">
                                Diese Aktion kann nicht rückgängig gemacht werden!
                            </p>
                            <br>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-danger btn-block" id="submitForm">Löschen</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Abbrechen</button>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("submitForm").onclick = function() {
        document.getElementById("deleteForm").submit();
    }
</script>

</body>
</html>