<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>User Profile</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
        #user, #plan {
            background: white;
        }
        * {
            box-sizing: border-box;
        }
        .col-container {
            display: table;
            width: 100%;
        }
        .col {
            display: table-cell;
            padding: 5px;
        }
        @media only screen and (max-width: 600px) {
            .col {
                display: block;
                width: 100%;
            }
        }
    </style>

    <div th:include="/fragments/navbar :: style_fragment"></div>
</head>
<body>

<div sec:authorize="hasRole('MOD')">
    <div th:replace="/fragments/navbar :: navbar_mod"></div>
</div>

<div sec:authorize="hasRole('USER')">
    <div th:replace="/fragments/navbar :: navbar_user"></div>
</div>

<div class="container">
    <div class="jumbotron">
        <div class="container-fluid">
            <div class="col-container" sec:authorize="hasRole('MOD')">
                <div class="col">
                    <a th:href="@{/mods/searchuser}" type="button" class="btn btn-block btn-danger">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        Zurück
                    </a>
                </div>
                <div class="col">
                    <a th:href="@{'/user/statistics/' + ${user.getId()}}" type="button" class="btn btn-block btn-default">
                        <span class="glyphicon glyphicon-stats"></span>
                        Statistiken des Nutzers
                    </a>
                </div>
                <div class="col">
                    <a type="button" class="btn btn-block btn-default" data-toggle="modal" data-target="#confirm_mod">
                        <span class="glyphicon glyphicon-education"></span>
                        Zum Moderator Befördern
                    </a>
                </div>
                <div class="col" th:if="${#authentication.principal.getUsername().equals(user.getEmail())}">
                    <a th:href="@{/user/editprofile}" type="button" class="btn btn-block btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Bearbeiten
                    </a>
                </div>
                <div class="col">
                    <a type="button" class="btn btn-block btn-danger" data-toggle="modal"
                       data-target="#confirm_delete">
                        <span class="glyphicon glyphicon-remove"></span>
                        Nutzerprofil löschen
                    </a>
                </div>
            </div>
            <div class="col-container" sec:authorize="hasRole('USER')">
                <div class="col">
                    <a th:href="@{/user/plan}" type="button" class="btn btn-block btn-default">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        Mein Plan
                    </a>
                </div>
                <div class="col">
                    <a type="button" class="btn btn-block btn-default">
                        <span class="glyphicon glyphicon-stats"></span>
                        Meine Statistiken
                    </a>
                </div>
                <div class="col">
                    <a th:href="@{/user/editprofile}" type="button" class="btn btn-block btn-default">
                        <span class="glyphicon glyphicon-pencil"></span>
                        Bearbeiten
                    </a>
                </div>
                <div class="col">
                    <a type="button" class="btn btn-block btn-danger" data-toggle="modal"
                       data-target="#confirm_delete" id="deleteButton">
                        <span class="glyphicon glyphicon-remove"></span>
                        Mein Profil löschen
                    </a>
                </div>
            </div>
            <br>
            <div>
                <table class="table table-striped table-bordered" id="user">
                    <tbody>
                    <tr>
                        <th>Benutzer ID</th>
                        <td><p th:text="${user.id}" style="font-size: 14px"/></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><p th:text="${user.email}" style="font-size: 14px"/></td>
                    </tr>
                    <tr>
                        <th>Vorname</th>
                        <td><p th:text="${user.firstName}" style="font-size: 14px" id="firstName"/></td>
                    </tr>
                    <tr>
                        <th>Nachname</th>
                        <td><p th:text="${user.lastName}" style="font-size: 14px" /></td>
                    </tr>
                    <tr>
                        <th>Körpergröße (in cm)</th>
                        <td><p th:text="${user.heightInCm}" style="font-size: 14px" /></td>
                    </tr>
                    <tr>
                        <th>Körpergewicht (in Kg)</th>
                        <td><p th:text="${user.weightInKg}" style="font-size: 14px" /></td>
                    </tr>
                    <tr>
                        <th>Geschlecht</th>
                        <td><p th:text="${user.gender}" style="font-size: 14px"/></td>
                    </tr>
                    <tr>
                        <th>Geburtsdatum</th>
                        <td><p th:text="${user.getBirthDateString()}" style="font-size: 14px" /></td>
                    </tr>
                    <tr>
                        <th>Trainingsziel</th>
                        <td><p th:text="${user.trainingsFocus}" style="font-size: 14px"/></td>
                    </tr>
                    <tr>
                        <th>angestrebte Trainingshäufigkeit (pro Woche)</th>
                        <td><p th:text="${user.trainingsFrequency}" style="font-size: 14px"/></td>
                    </tr>
                    <tr th:if="${userPlan}">
                        <th>Traingsplan id
                        </th>
                        <td><p th:text="${userPlan.getIdOfTemplate()}" style="font-size: 14px"/></td>
                    </tr>
                    <tr>
                        <th>Rolle</th>
                        <td th:if="${user.role == 'ROLE_MOD'}"><p style="font-size: 14px">Moderator</p></td>
                        <td th:if="${user.role == 'ROLE_USER'}"><p style="font-size: 14px">Nutzer</p></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm_delete">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- body (form) -->
            <div class="modal-body">
                <form th:object="${user}" th:action="@{/users/{path}(path=${user.id})}" th:method="delete" id="deleteForm">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            <h4>Löschen bestätigen</h4>
                        </div>
                        <div class="panel-body">
                            <p style="font-size: 16px" sec:authorize="hasRole('MOD')">
                                Wollen sie den aktuellen Nutzer wirklich löschen?
                            </p>
                            <p style="font-size: 16px" sec:authorize="hasRole('USER')">
                                Wollen sie ihren Account wirklich löschen?
                            </p>
                            <p class="text-danger" style="font-size: 12px">
                                Diese Aktion kann nicht rückgängig gemacht werden!
                            </p>
                            <br>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-danger btn-block" id="submitForm">Löschen</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Abbrechen</button>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="confirm_mod">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- body (form) -->
            <div class="modal-body">
                <form th:object="${user}" th:action="@{/users/{path}(path=${user.id})}" th:method="put"
                      id="moderatorForm">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h4>Beförderung bestätigen</h4>
                        </div>
                        <div class="panel-body">
                            <p style="font-size: 16px">
                                Wollen sie den aktuellen Nutzer wirklich zum Moderator machen?
                            </p>
                            <br>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-warning btn-block"
                                            id="submitMod">Befördern</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-default btn-block"
                                            data-dismiss="modal">Abbrechen</button>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("submitForm").onclick = function() {
        document.getElementById("deleteForm").submit();
    }

    document.getElementById("submitMod").onclick = function() {
        document.getElementById("moderatorForm").submit();
    }

</script>

</body>
</html>