<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Planvorlage erstellen</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <div th:include="/fragments/navbar :: navbar_style"></div>

    <style>
        #inputUnit:disabled {
            background-color: white;
        }
        ul {
            list-style-type: none;
        }
    </style>
</head>

<body>
<div th:replace="/fragments/navbar :: navbar_mod"></div>

<div class="container">
    <div class="jumbotron">
        <h2>Erstelle eine neue Trainingsplanvorlage</h2>
        &ensp;
        <p style="font-size: 12pt">Gib zuerst die allgemeinen Daten zu deinem Plan an, die Bezeichnung, den Planfokus und die Anzahl
        der Trainingseinheiten</p><br>
        <p style="font-size: 12pt">Um Übungen zu deinem Plan hinzuzufügen, fülle das Formular <mark>"Übung bearbeiten"</mark> aus
            und klicke auf den Button <mark>"Übung hinzufügen"</mark>. Falls du eine noch nicht vorhandene Übung in deinem Plan verwenden willst,
            drücke den Button <mark>"Neue Übungsart"</mark> um direkt eine Neue zu erstellen.</p><br>
        <p style="font-size: 12pt">Wenn du am Ende mit deinem Plan zufrieden bist,
            speichere diesen mit einem Klick auf den Button <mark>"Plan speichern"</mark>.</p>
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="planName">Planbezeichnung:</label>
                    <input  type="text" class="form-control" id="planName"
                            placeholder="Hier Bezeichnung eingeben...">
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group-inline">
                    <label for="focus">Trainingsfokus:</label>
                    <select id="focus" class="form-control" required>
                        <option selected disabled hidden>Wähle eine Option aus...</option>
                        <option>Muskelaufbau</option>
                        <option>Ausdauer</option>
                        <option>Schmerzreduktion</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="inputUnit">Trainingseinheiten: </label>
                    <button type="button" class="btn decrement-button" onclick="decrement(); updateTeInputs()">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                    <input type="text" name="trainingUnits" id="inputUnit" value="6"
                           style="width: 30px; border: 3px solid darkgray; text-align: center;
                           font-weight: bold" disabled>
                    <button type="button" class="btn increment-button" onclick="increment(); updateTeInputs()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Verkleinern und zentrieren: <div class="col-md-1"></div>-->
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-6" style="margin-top: 6px">
                    Übung bearbeiten
                </div>
                <div class="col-md-2">
                    <button type="button" id="addExercise" value="Add" class="btn btn-primary btn-block">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        Übung hinzufügen
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="button" id="buttonResetModal" data-toggle="modal" data-target="#modalConfirmResetForm"
                            class="btn btn-warning btn-block">
                        <span class="glyphicon glyphicon-trash"></span>
                         Formular leeren
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="button" data-toggle="modal"
                            class="btn btn-success btn-block launch-modal">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                         Neue Übungsart
                    </button>
                </div>
            </div>
        </div>
        <!-- panel with form to customize and add an exercise to the plan -->
        <div class="panel-body">
            <div class="col-md-12">
                <table class="table table-bordered table-condensed" border="1" width="100%">
                    <colgroup>
                        <col width="5%">
                        <col width="10%">
                        <col width="30%">
                        <col width="5%">
                        <col width="30%">
                        <col width="5%">
                        <col width="5%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>Ordnung</th>
                            <th>Übung</th>
                            <th>Ausführung</th>
                            <th>TE</th>
                            <th>Last/Wiederholungen/Sätze</th>
                            <th>Tempo</th>
                            <th>Pause</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input id="inputOrder" type="text" class="form-control" />
                            </td>
                            <td>
                                <input id="inputExercise" type="text" name="exercise" class="form-control" list="stored_exercises">
                                    <datalist id="stored_exercises">
                                        <option value="Liegestütze" />
                                        <option value="Klimmzüge" />
                                        <option value="Leg-Press" />
                                        <option value="Bench-Press" />
                                        <option value="Front-Curl" />
                                        <option value="Back-Curl" />
                                        <option value="Squad" />
                                    </datalist>
                                </input>
                            </td>
                            <td>
                                <textarea id="inputDescription" class="form-control" rows="4"></textarea>
                            </td>
                            <td>
                                <div class="form-group">
                                    <ul id="counterTE" class="list-group"></ul>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <ul id="setInputs" class="list-group"></ul>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <ul id="tempoInputs" class="list-group"></ul>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <ul id="pauseInputs" class="list-group"></ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- panel with overview of final plan and button to save the plan -->
    <div class="panel panel-success">
        <div class="panel-heading">
            Aktueller Trainingsplan
        </div>
        <div class="panel-body">
            <div class="col-md-12">
                <table class="table table-bordered table-condensed" border="1" width="100%">
                    <colgroup>
                        <col width="5%">
                        <col width="85%">
                        <col width="10%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Ordnung</th>
                        <th>Übung</th>
                        <th>Detailansicht</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="form-group">
                                <ul id="planExerciseOrder" class="list-group"></ul>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <ul id="planExerciseName" class="list-group"></ul>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <ul id="planButtonExerciseDetails" class="list-group"></ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <button type="button" id="previewPlan" class="btn btn-primary btn-block">
                        <span class="glyphicon glyphicon-blackboard"></span>
                        Planvorschau
                    </button>
                </div>
                <div class="col-md-2">
                    <button type="button" id="savePlan" class="btn btn-success btn-block">
                        <span class="glyphicon glyphicon-floppy-save"></span>
                         Plan speichern
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal with formular to create a new exercise -->
<div class="modal fade" id="modalExerciseForm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Neue Trainingsübung erstellen</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="exerciseName">Name der Übung:</label>
                            <input  type="text" class="form-control" id="exerciseName"
                                    placeholder="Hier die Übungsbezeichnung eingeben...">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exercise_description">Beschreibung der Übung:</label>
                                <textarea id="exercise_description" class="form-control" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="muscleImageInput">Muskelgruppen-Bild:</label>
                                <input  type="image" class="form-control" id="muscleImageInput"
                                        placeholder="Hier Bild mit Muskelgruppen einfügen...">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="weightType">Gewichtsart auswählen</label>
                            <select id="weightType" class="form-control">
                                <option selected disabled hidden>Wähle eine Option aus...</option>
                                <option>Eigengewicht</option>
                                <option>Befestigtes Gewicht</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="videoLink1">Erklärungsvideos: (Optional)</label>
                            <input  type="url" class="form-control" id="videoLink1"
                                    placeholder="Hier Link zu einem Erklärungsvideo einfügen...">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="imageInput">Zusätzliche Bilder hochladen (Optional)</label>
                            <input  type="image" class="form-control" id="imageInput"
                                    placeholder="Hier Bild zur Übung einfügen...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
                <button type="button" class="btn btn-primary">Speichern</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal to confirm the reset of the exercise formular -->
<div class="modal fade" id="modalConfirmResetForm">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- body (form) -->
            <div class="modal-body">
                <form>
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            <h4>Zurücksetzen des Formulars bestätigen</h4>
                        </div>
                        <div class="panel-body">
                            <p style="font-size: 16px">
                                Wollen sie das Eingabeformular wirklich zurücksetzen?
                            </p>
                            <p class="text-danger" style="font-size: 12px">
                                Nicht gespeichterte Daten werden verworfen!
                            </p>
                            <br>
                            <div class="row">
                                <div class="col-md-2"></div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-warning btn-block"
                                            id="buttonResetFormular" onclick="resetForm()"
                                            data-dismiss="modal">
                                        Zurücksetzen
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-default btn-block"
                                            data-dismiss="modal">
                                        Abbrechen
                                    </button>
                                </div>
                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    /**
     * Function to open the form to create a new exercise without the possibility
     * to close the modal by clicking outside of it or esc.
     */
    $(document).ready(function(){
        $('.launch-modal').click(function(){
            $('#modalExerciseForm').modal({
                backdrop: 'static'
            });
        });
    });

    $(document).ready(function(){
        $('#addExercise').click(function(){
            var newExerciseOrder = $('#inputOrder').val();
            var newExerciseName = $('#inputExercise').val();
            $('#planExerciseOrder').append(
                '<li style="padding-top: .3em; padding-bottom: .3em">' +
                '<input type="text" value="'+newExerciseOrder+'" class="form-control" disabled>' + '</li>');
            $('#planExerciseName').append(
                '<li style="padding-top: .3em; padding-bottom: .3em">' +
                '<input type="text" value="'+newExerciseName+'" class="form-control" disabled>' + '</li>');
            $('#planButtonExerciseDetails').append(
                '<li style="padding-top: .3em; padding-bottom: .3em">' +
                '<input type="button" value="Details" class="btn btn-primary btn-block">' + '</li>');
            resetForm();
        });
    });

    $(document).ready(function () {
        $('#savePlan').click(function () {
            var addedOrders = document.getElementById("planExerciseOrder");
            var addedExercises = document.getElementById("planExerciseName");
            var addedDetailButtons = document.getElementById("planButtonExerciseDetails");
            while (addedOrders.hasChildNodes()) {
                addedOrders.removeChild(addedOrders.lastChild);
            }
            while (addedExercises.hasChildNodes()) {
                addedExercises.removeChild(addedExercises.lastChild);
            }
            while (addedDetailButtons.hasChildNodes()) {
                addedDetailButtons.removeChild(addedDetailButtons.lastChild);
            }
        })
    })

    $(document).ready(updateTeInputs())

    function updateTeInputs() {
        var number = document.getElementById("inputUnit").value;
        var te = document.getElementById("counterTE");
        var sets = document.getElementById("setInputs");
        var tempos = document.getElementById("tempoInputs");
        var pauses = document.getElementById("pauseInputs");

        while (te.hasChildNodes()) {
            te.removeChild(te.lastChild);
        }
        while (sets.hasChildNodes()) {
            sets.removeChild(sets.lastChild);
        }
        while (tempos.hasChildNodes()) {
            tempos.removeChild(tempos.lastChild);
        }
        while (pauses.hasChildNodes()) {
            pauses.removeChild(pauses.lastChild);
        }
        for (var i=0;i<number;i++){
            var counterTEId = "counter" + i;
            var setInputId = "setInput" + i;
            var tempoInputId = "tempoInput" + i;
            var pauseInputId = "pauseInput" + i;
            $('#counterTE').append(
                '<li>' + '<input id="'+counterTEId+'" disabled value="'+(i+1)+'" class="form-control">' + '</li>');
            $('#setInputs').append(
                '<li>' + '<input id="'+setInputId+'" type="text" class="form-control">' + '</li>');
            $('#tempoInputs').append(
                '<li>' + '<input id="'+tempoInputId+'" type="text" class="form-control">' + '</li>');
            $('#pauseInputs').append(
                '<li>' + '<input id="'+pauseInputId+'" type="text" class="form-control">' + '</li>');
        }
    }

    function resetForm() {
        var number = document.getElementById("inputUnit").value;
        $('#inputOrder').val('');
        $('#inputExercise').val('');
        $('#inputDescription').val('');

        for (var i=0;i<number;i++){
            var currentSetInput = "#setInput" + i;
            var currentTempoInput = "#tempoInput" + i;
            var currentPauseInput = "#pauseInput" + i;
            $(currentSetInput).val('');
            $(currentTempoInput).val('');
            $(currentPauseInput).val('');
        }
    }

    function increment() {
        var oldValue = document.getElementById("inputUnit").value;
        if (oldValue < 15) {
            var newValue = parseFloat(oldValue) + 1;
        } else {
            alert("Ein Trainingsplan kann nicht aus mehr als 15 Trainingseinheiten bestehen");
            var newValue = 15;
        }
        document.getElementById("inputUnit").value = newValue;
    }

    function decrement() {
        var oldValue = document.getElementById("inputUnit").value;
        var newValue;
        if (oldValue > 3) {
            newValue = parseFloat(oldValue) - 1;
        } else {
            alert("Ein Trainingsplan kann nicht aus weniger als 3 Trainingseinheiten bestehen");
            newValue = 3;
        }
        document.getElementById("inputUnit").value = newValue;
    }
</script>
</body>
</html>