<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Planverzeichnis</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.css"></script>

    <link href="../static/css/navbar.css"
          th:href="@{css/navbar.css}" rel="stylesheet" media="screen">

</head>
<body>
<div th:replace="/fragments/mod-navbar :: header"></div>

<form class="form-horizontal">
    <div class="container">
        <div class="jumbotron">
            <h2>Verzeichnis aller erstellten Trainingsplanvorlagen</h2>
            <br>
            <br>
            <p style="font-size: 12pt">Gib in die folgende Eingabezeile alle
                Pläne nach bestimmten Attributen
                zu filtern</p>
            <input class="form-control" id="myInput" type="text"
                   placeholder="Suchwort eingeben..">
            <br>
            <a th:href="@{/mods/createplan}" type="button"
               class="btn btn-success btn-medium">
                <span class="glyphicon glyphicon-plus-sign"></span> Neue Vorlage</a>
        </div>
    </div>
    <div class="container">
        <table id="planTable" class="table table-bordered table-condensed"
               data-toggle="table">
            <thead>
            <tr>
                <th data-field="ID" data-sortable="true">
                    <span class="glyphicon glyphicon-sort"></span> ID
                </th>
                <th data-field="planName" data-sortable="true">
                    <span class="glyphicon glyphicon-sort"></span> Übungsname
                </th>
                <th data-field="focus" data-sortable="true">
                    <span class="glyphicon glyphicon-sort"></span> Schwerpunkt
                </th>
                <th data-field="timeSpan" data-sortable="true">
                    <span class="glyphicon glyphicon-sort"></span> Dauer
                </th>
                <th data-field="author" data-sortable="true">
                    <span class="glyphicon glyphicon-sort"></span> Autor
                </th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr>
                <td>001</td>
                <td>Einstiegstraining</td>
                <td>Muskelaufbau</td>
                <td>1 Tag</td>
                <td>Paul Friedrich</td>
            </tr>
            <tr>
                <td>002</td>
                <td>Anfängertraining</td>
                <td>Muskelaufbau</td>
                <td>1 Monat</td>
                <td>Paul Friedrich</td>
            </tr>
            <tr>
                <td>004</td>
                <td>Konditionstraining</td>
                <td>Ausdauersteigerung</td>
                <td>3 Monate</td>
                <td>Martin Maier</td>
            </tr>
            <tr>
                <td>006</td>
                <td>Training für Fortgeschrittene</td>
                <td>Muskelaufbau</td>
                <td>6 Wochen</td>
                <td>Paul Friedrich</td>
            </tr>
            <tr>
                <td>011</td>
                <td>Linderung Rückenschmerzen</td>
                <td>Schmerzreduktion</td>
                <td>1 Monat</td>
                <td>Martin Maier</td>
            </tr>
            </tbody>
        </table>
    </div>
</form>

<!-- Code für das Filtern der Tabelle nach Suchwort -->
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

</body>
</html>