<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Moderator Startup Page</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="../static/css/modStartupPage.css"
          th:href="@{css/modStartupPage.css}" rel="stylesheet" media="screen">

</head>

<body>
<!--Left half of the page-->
<div class="leftHalf">
    <div class="scaler">
        <div class="btn-block">
            <a href="Testseite%20Verlinkung.html" type="button"
               class="success btn-block">
                Plan Verzeichnis
            </a>
        </div>
    </div>
    <div class="scaler">
        <div class="btn-block">
            <a href="Testseite%20Verlinkung.html" type="button"
               class="success btn-block">
                Plan erstellen
            </a>
        </div>
    </div>
    <div class="scaler">
        <div class="btn-block">
            <a href="Testseite%20Verlinkung.html" type="button"
               class="success btn-block">
                Übungen
            </a>
        </div>
    </div>
    <div class="scaler">
        <div class="btn-block">
            <a href="Testseite%20Verlinkung.html" type="button"
               class="success btn-block">
                Statistiken
            </a>
        </div>
    </div>
</div>


<!--Right half of the page-->
<div class="rightHalf">
    <div class="scaler">
        <div class="btn-block">
            <a href="Mod-UserSearch.html" type="button"
               class="success btn-block">
                Nutzer suche
            </a>
        </div>
    </div>
    <!--- TODO Scale once we know which data we include--->
    <table id="user">
        <tr>
            <th>NutzerName</th>
            <th>Ziel</th>
            <th>Fokus</th>
            <th>Einheit</th>
        </tr>
        <tr>
            <td>Benedikt Schwarz</td>
            <td>Muskelaufbau</td>
            <td>Ganzkörper</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Benedikt Schwarz 2</td>
            <td>Muskelaufbau</td>
            <td>Ganzkörper</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Benedikt Schwarz 3</td>
            <td>Muskelaufbau</td>
            <td>Ganzkörper</td>
            <td>3</td>
        </tr>
    </table>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>