<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Trainingsübungen</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Imports for Bootstrap table -->
    <!---
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    Removed Bootstrap table js, otherwise linking a row is not working.
    --->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.css"></script>

    <div th:include="/fragments/navbar :: navbar_style"></div>
</head>

<body>
<div th:replace="/fragments/navbar :: navbar_mod"></div>

<form class="form-horizontal" th:action="@{/mods/searchexercise}" method="post" id="searchForm">
    <div class="container">
        <div class="jumbotron">
            <h2>Liste aller verfügbaren Übungen</h2>
            <br>
            <br>
            <p style="font-size: 12pt">Gib in die Eingabezeile den Namen oder einen Teil davon
                ein um passende Übungen zu finden!</p>
            <input class="form-control" id="myInput" type="text" name="nameUebung"
                   placeholder="Suchwort eingeben..">
            <p style="font-size: 25px; margin: 2%" th:if="${message}" th:utext="${message}"></p>
            <a type="button" class="btn btn-success btn-medium" id="submitForm" style="margin-top: 2%;
                   margin-bottom: 2%">
                <span class="glyphicon glyphicon-search"></span> Suchen</a>
            <br>
            <a th:href="@{/mods/createexercise}" type="button"
               class="btn btn-success btn-medium">
                <span class="glyphicon glyphicon-plus-sign"></span> Neue
                Übung</a>
        </div>
    </div>
    <div class="container">
        <table id="exerciseTable" class="table table-bordered table-condensed"
               data-toggle="table">
            <thead>
            <tr>
                <th data-field="ID" data-sortable="true">
                     ID
                </th>
                <th data-field="exerciseName" data-sortable="true">
                     Übungsname
                </th>
                <th data-field="description" data-sortable="true">
                     Beschreibung
                </th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr th:each="exercise : ${exercises}" style="cursor: pointer"
                th:onclick="'javascript:rowClicked(\'' + ${exercise.getId()} + '\');'">
                <td th:text="${exercise.getId()}"></td>
                <td th:text="${exercise.getName()}"></td>
                <td th:text="${exercise.getDescription()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</form>

<!-- Code für das Filtern der Tabelle nach Suchwort -->
<script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
<!--- Script to link every row with the Exercise.
--->
<script>
    function rowClicked(value) {
        location.href = "/exercises/" + value;
    }
</script>

<script>
    document.getElementById("submitForm").onclick = function() {
        document.getElementById("searchForm").submit();
    }
</script>
</body>
</html>