<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nutzerübericht</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Imports for Bootstrap table -->
    <!---
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    Removed Bootstrap table js, otherwise linking a row is not working.
    --->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.css"></script>

    <div th:include="/fragments/navbar :: style_fragment"></div>
</head>
<body>
<div th:replace="/fragments/navbar :: navbar_mod"></div>

<form class="form-horizontal" th:action="@{usersearch}"
      th:object="${searchtext}" method="post">
    <div class="container">
        <div class="jumbotron">
            <div class="container-fluid">
                <h2>Liste aller auf der Webseite registrierten Nutzer</h2>
                <br>
                <br>
                <p style="font-size: 12pt">Gib in die Eingabezeile über der Liste aller Nutzer
                    ein beliebiges Attribut des oder der gesuchten Nutzer ein um nach diesem zu filtern</p>
            </div>
        </div>
        <div class="panel panel-default outerPanel">
            <div class="panel-heading">
                <input class="form-control" id="myInput" type="text" placeholder="Suchwort eingeben..">
            </div>
            <div class="panel-body">
                <table id="userTable" class="table table-bordered table-condensed" data-toggle="table">
                    <thead>
                    <tr>
                        <th data-field="ID" data-sortable="true">
                            ID
                        </th>
                        <th data-field="email" data-sortable="true">
                            Email
                        </th>
                        <th data-field="firstName" data-sortable="true">
                            Vorname
                        </th>
                        <th data-field="lastName" data-sortable="true">
                            Nachname
                        </th>
                    </tr>
                    </thead>
                    <tbody id="myTable">
                    <tr th:each="user : ${users}" style="cursor: pointer"
                        th:onclick="'javascript:rowClicked(\'' + ${user.getId()} + '\');'"
                        th:id="${user.getId()}">
                        <td th:text="${user.getId()}"/>
                        <td th:text="${user.getEmail()}"/>
                        <td th:text="${user.getFirstName()}"/>
                        <td th:text="${user.getLastName()}"/>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

<!-- Code für das Filtern der Tabelle nach Suchwort -->
<script>
    jQuery(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<!--- Script to link every row with the user.
--->
<script>
    function rowClicked(value) {
        location.href = "/users/" + value;
    }
</script>

</body>
</html>