<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Moderator Startseite</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href="/static/css/navbar.css"
          th:href="@{css/navbar.css}" rel="stylesheet" media="screen">

    <style>
        #user {
            background: white;
        }
        body {
            padding-top: 20px;
        }
    </style>
</head>

<body>

<div th:include="/fragments/mod-navbar :: header"></div>

<div class="container">
    <div class="jumbotron">
        <h2>Liste aller User mit deinem Trainingsplan:</h2>
        <br>
        <br>
        <!-- Suchleiste bis auf Weiteres ausgeblendet
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <form>
                    <div class="input-group">
                        <input id="search" type="text" class="form-control" placeholder="Nutzer suchen...">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-2"></div>
        </div> -->
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table id="user" class="table table-bordered table-condensed"
                       border="1" width="100%">
                    <thead>
                    <tr>
                        <th>NutzerName</th>
                        <th>Ziel</th>
                        <th>Fokus</th>
                        <th>Einheit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Benedikt Schwarz</td>
                        <td>Muskelaufbau</td>
                        <td>Ganzkörper</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Benedikt Schwarz 2</td>
                        <td>Muskelaufbau</td>
                        <td>Ganzkörper</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Benedikt Schwarz 3</td>
                        <td>Muskelaufbau</td>
                        <td>Ganzkörper</td>
                        <td>3</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

</body>
</html>