<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Übung hinzufügen</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href="../static/css/navbar.css"
          th:href="@{css/navbar.css}" rel="stylesheet" media="screen">
</head>

<body>

<div th:replace="/fragments/mod-navbar :: header"></div>

<div class="container">
    <div class="jumbotron">
        <h2>Neue Trainingseinheit erstellen</h2>
        <br>
        <p style="font-size: 12pt">Fülle das folgende Formular und speichere anschließend die eingegebenen
            Daten um die neue Übung hinzuzufügen.</p>
    </div>
    <div class="col-md-12">
        <form>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="exerciseName">Name der Übung:</label>
                        <input  type="text" class="form-control" id="exerciseName"
                                placeholder="Hier die Übungsbezeichnung eingeben...">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="description">Beschreibung der Übung:</label>
                        <textarea id="description" class="form-control" rows="6"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="weightType">Gewichtsart auswählen</label>
                        <select id="weightType" class="form-control">
                            <option selected disabled hidden>Wähle eine Option aus...</option>
                            <option>Eigengewicht</option>
                            <option>Befestigtes Gewicht</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="videoLink1">Erklärungsvideos: (Optional)</label>
                        <input  type="url" class="form-control" id="videoLink1"
                                placeholder="Hier Link zu einem Erklärungsvideo einfügen...">
                        <!--
                        <input  type="url" class="form-control" id="videoLink2"
                                placeholder="Hier Link zu einem weiteren Erklärungsvideo einfügen...">
                        <input  type="url" class="form-control" id="videoLink3"
                                placeholder="Hier Link zu einem weiteren Erklärungsvideo einfügen...">
                        -->
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus-sign"></span> Zusätzlicher Link</button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="imageInput">Bild hochladen (Optional)</label>
                        <input  type="image" class="form-control" id="imageInput"
                                placeholder="Hier Bild zur Übung einfügen...">
                    </div>
                </div>
            </div>

            <a href="mod_user_search.html" type="submit"
               class="btn btn-primary btn-lg">Speichern</a>
        </form>
    </div>
</div>
</body>
</html>