<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Profile</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href="/static/css/navbar.css"
          th:href="@{css/navbar.css}" rel="stylesheet" media="screen">

    <style>
        #user, #plan {
            background: white;
        }
        body {
            padding-top: 20px;
        }
    </style>
</head>
<body>


<div th:include="/fragments/mod-navbar :: header"></div>

<div class="container">
    <div class="jumbotron">
        <div>
            <table class="table table-striped table-bordered" id="user">
                <tbody>
                <tr>
                    <th>User ID</th>
                    <td><p th:text="${user.id}"/></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><p th:text="${user.email}"/></td>
                </tr>
                <tr>
                    <th>First name</th>
                    <td><p th:text="${user.firstName}"/></td>
                </tr>
                <tr>
                    <th>Last name</th>
                    <td><p th:text="${user.lastName}"/></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div class="container" style="padding-top: 50pt">
        <table class="table table-striped table-hover table-bordered" id="plan"
               style="text-align: center">
            <thead>
            <tr>
                <th>Montag</th>
                <th>Dienstag</th>
                <th>Mittwoch</th>
                <th>Donnerstag</th>
                <th>Freitag</th>
                <th>Samstag</th>
                <th>Sonntag</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>11:00</td>
                <td></td>
                <td></td>
                <td>11:00</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>12:00</td>
                <td></td>
                <td></td>
                <td>14:00</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="container" style="padding-top: 50pt">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <a th:href="@{/user/plan}" type="button"
                       class="btn btn-default btn-block">
                        Plan des Nutzers
                    </a>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <a  type="button"
                       class="btn btn-default btn-block">
                        Statistiken des Nutzers
                    </a>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>

</div>

</body>
</html>