<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Your personalized training page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link href="../static/css/core.css" th:href="@{css/core.css}" rel="stylesheet" media="screen">


    <div th:include="/fragments/navbar :: style_fragment"></div>
    <style>

        html, body {
            width: 100%;
            height: 100%;
            font-size: calc(12px+ 0.2vw);
        }

        .tableCentered{
            text-align: center;
            align-items: center;
            display: table-cell;
            vertical-align: middle;
            margin-top: 1.4vh;
        }

        .fullsize{
            width: 100%;
            height: 100%;
            text-align: center;
            margin: auto;
        }

        .containerColor{
            background: #ecf0f1;
            border: solid 2px #2E2E2E;
        }

        .responsive-width{
            font-size: calc(12px);
        }

        .button{
            text-align: center;
            display:table-cell;
            vertical-align:middle;
            margin: auto;
            padding: auto;
        }

        .col-container {
            display: table;
            width: 100%;
        }
        .col {
            display: table-cell;
            padding: 5px;
            width: 33%;
        }
    </style>
</head>
<body>

<!-- Modal for exercise details -->
<div id="exerciseModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="jumbotron col-md-5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Name:
                            </div>
                            <div class="panel-body">
                                <p></p>
                            </div>
                        </div>
                        <div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Beschreibung:
                                </div>
                                <div class="panel-body">
                                    <p ></p>
                                </div>
                            </div>
                            <div class="panel panel-default" >
                                <div class="panel-heading">
                                    Beispielvideo:
                                </div>
                                <div class="panel-body">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe  width="560" height="315"
                                                 frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <p>
                                        Muskelgruppen Bilder:</p>
                                </div>
                                <div class="panel-body">

                                    <div
                                            class="image">
                                        <img/>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" >
                                <div class="panel-heading">
                                    <p>Andere
                                        Bilder:</p>
                                </div>
                                <div class="panel-body">
                                    <div
                                            class="image">
                                        <img/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container col-md-12" id="toggledAlert" >
                <div class="container col-md-12">
                    <h5 style="color: red; text-align: center; background: #e3f2fd; border: 1px solid black;">
                        Es ist nicht empfohlen die alternativen Übungen zu wählen.
                        Wenn die Entscheidung aus gesundheitlichen Gründen folgt,
                        so kontaktieren sie einen Trainer.
                    </h5>
                    <div class="row">
                        <div class="container col-md-9">
                            <div class="form-group">
                                <select id="weightType" class="form-control">
                                    <option>Diese Übung</option>
                                    <option>Alternative Xyz</option>
                                </select>
                            </div>
                        </div>
                        <button type="button"
                                class="btn btn-secondary col-md-3" onclick="enableSave()">
                            Verstanden
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer " >
                <div class="container col-md-12">
                    <button type="button"
                            class="btn btn-block btn-success" style="font-size: small" onclick="safeAlternativeExercise()" disabled id="button_saveExercise">
                        Übung festlegen
                    </button>
                    <button type="button"
                            class="btn btn-block btn-danger" data-dismiss="modal" style="font-size: small" id="closeInfoModal">
                        Zurück
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--- Modal containing general Information --->
<div id="infoModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="jumbotron" style="text-align: center;">
                    <h4>Es ist empfohlen dem Plan möglichst präzise zu folgen.</h4>
                    <h6>Nur durch richtige Ausführung der Übungen, mit guter Form und empfohlenen Anzahlen/Gewichten wird guter Vortschritt erreicht.</h6>
                    <h6>Übungen mit dem selben Buchstaben sind in einem sogennanten 'Super Set'.</h6>
                    <h6>Übungen in einem Superset sollten abgeschlossen werden, bevor das nächste Superset begonnen wird.</h6>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-block btn-warning responsive-width" data-dismiss="modal" id="leaveInfoModal">
                    Zurück
                </button>
            </div>
        </div>
    </div>
</div>

<!--- Modal used to warn user before leaving the training --->
<div id="exitModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="jumbotron" style="text-align: center;">
                    <h4>Training wirklich abbrechen?</h4>
                </div>
                <div class="col-container">
                    <div class="col">
                        <a type="button"
                           class="btn btn-block btn-danger" th:href="@{/user/home}">
                            Training abbrechen
                        </a>
                    </div>
                    <div class="col">
                        <button type="button"
                                class="btn btn-block btn-secondary" data-dismiss="modal" id="buttonContinue">
                            Training Fortsetzen
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--- Modal used to warn user before choosing new superset --->
<div id="supersetModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="jumbotron" style="text-align: center;">
                    <h4>Übungen im selben Satz sollten gemeinsam abgeschlossen werden. Trotzdem neuen Supersatz beginnen?</h4>
                </div>
                <button type="button"
                        class="btn btn-block btn-secondary" data-dismiss="modal">
                    Im Set bleiben
                </button>
                <div class="modal-footer">
                    <button type="button"
                       class="btn btn-block btn-danger" onclick="newSuperset()">
                        Neues set
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div hidden>
    <form th:action="@{'/user/plan/exercise/'}" method="post" id="submitForm">
        <input name="index" id="indexOfEx">
        <input th:value="${dayDto.trainingStarted}" id="trainingHasStarted" name="trainingStarted">
    </form>
</div>

<!--- the Page --->
<div style="width: 100%; height: 100%;">
    <!--- buffers the main part of the page to the middle-->
    <div class="col-md-3 visible-md visible-lg">
    </div>
    <!--- Container with the content of the page--->
    <div class="col-md-6" style="height: 100%;">
        <div class="visible-md visible-lg">
        </div>
        <div class="container fullsize">
            <div class="panel panel-login panel-default fullsize">
                <div class="panel-heading col-container" style="font-size: 140%; height: 10%;">
                    <div class="col" style="font-size: small">
                            Trainings-<br> einheit nr.
                    </div>
                    <div class="col" th:text="${dayDto.currentSession}"></div>
                    <div class="col">
                        <div>set: </div>
                        <div  id="currentOrder" th:text="${dayDto.currentCategory}">#
                        </div>
                    </div>
                    <div class="col" th:text="${dayDto.currentCategory}"></div>
                    <button data-toggle="modal" data-target="#infoModal" class="btn btn-info" id="openInfoModal">
                        i
                    </button>
                </div>
                <div class="panel-body" style=" height: 80%;">
                    <!--- Template for thymeleaf data to load into --->
                    <div class="container" id="container_content" style="height: 70%;
        overflow-x: fragments; overflow-y: scroll; text-align: center;
        padding: 5px" >
                        <div th:each="exerciseInst, stat : ${dayDto.exercises}"  >
                            <div class="container " style="padding-bottom: 2px; min-height: 20%; width: 100%;"  >
                                <div th:hidden="${exerciseInst.done}">
                                    <div class="containerColor col-sm-12 col-md-5 col-lg-6" th:id="exercise + ${stat.count}" style="display: block;">
                                        <div >
                                            <div class="col-container" th:onclick="'submitWithIndex(' + ${exerciseInst.getIndexInList()} + ')'" >
                                                <div class="tableCentered col" >
                                                    <h3 class="numbertest1 tableCentered" th:id="orderNumber + ${stat.count}" th:text="${exerciseInst.category}"></h3>
                                                </div>
                                                <div class="tableCentered col">
                                                    <h3 class="tableCentered" th:text="${exerciseInst.exercise.name}"></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer" style="text-align: center;  height: 10%;">
                    <!--- Buttons to leave/star the exercise --->
                    <div id="container_timer" class="container fullsize row">
                        <div id="firstButtonSet" class="fullsize">
                            <div class="col-xs-5" id="button_trainingBack">
                                <a type="button"
                                   class="btn btn-block btn-danger fullsize responsive-width" id="backButton"
                                   style="height: 100%; min-height: 50px" th:href="@{/user/home}">
                                    Zurück
                                </a>
                            </div>
                            <div class="col-xs-5 col-xs-offset-1" id="button_trainingStart">
                                <button type="button"
                                        class="btn btn-block btn-success fullsize responsive-width" id="startButton"
                                        style="height: 100%; min-height: 50px" onclick="startTraining()" >
                                    Training <br>  starten
                                </button>
                            </div>
                        </div>
                        <div id="secondButtonSet" class="fullsize">
                            <div class="col-xs-12" id="button_trainingExit">
                                <button type="button"
                                        class="btn btn-block btn-danger fullsize responsive-width"
                                        style="height: 100%; min-height: 50px" data-toggle="modal" data-target="#exitModal" id="exitOverview">
                                    Training <br> abbrechen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--- clicking on a row--->
<script>
    /**
     * Links to the exercise that has been clicked
     * @arg index - the index of the exercise clicked on
     * */
    function submitWithIndex(index) {
        var trainingStarted = document.getElementById('trainingHasStarted').value;
        if (trainingStarted == "true"){
            document.getElementById('indexOfEx').value = index;
            document.getElementById('submitForm').submit();
        } else{
            alert("Bitte starte dein Training bevor du die Übungen beginnst.")
        }
    }

    /**
     * Toggles if the training was started or not. Changes the Layout of the page
     * */
    function startTraining(){
        document.getElementById('firstButtonSet').style.display = "none";
        document.getElementById('secondButtonSet').style.display = "inherit";
        document.getElementById('trainingHasStarted').value = true;
    }

    /**
     * updates the current Order of the plan
     * */
    function newSuperset(){
        var currentOrder = document.getElementById("orderNumber").innerHTML;
        localStorage.setItem("orderValue", currentOrder);
        //updateCurrentOrder(id);
    }

</script>

<!--- Toggle alternative exercise (feature removed) --->
<script>
    document.onLoad(initialLoad());
    var warningHidden;

    /**
    * Hides toggleable content at page load
    * */
    function initialLoad(){
        warningHidden = true;
        document.getElementById('toggledAlert').style.display = "none";
        document.getElementById('button_saveExercise').style.display = "none";

        var currentOrder = localStorage.getItem("orderValue")
        document.getElementById("currentOrder").innerHTML = currentOrder;
    }


    /**
    * Enables the save function in the module
    * */
    function enableSave(){
        document.getElementById('button_saveExercise').disabled = false;
    }

    /**
    * Toggles which exercise the user has in their plan
    * */
    function toggleExercise() {
        if (warningHidden){
            warningHidden = false;
            document.getElementById('toggledAlert').style.display = "inherit";
            document.getElementById('button_saveExercise').style.display = "inherit";
        } else{
            warningHidden = true;
            document.getElementById('toggledAlert').style.display = "none";
            document.getElementById('button_saveExercise').style.display = "none";
            document.getElementById('button_saveExercise').disabled = true;
        }
    }
</script>

<!--- Colouring every row --->
<script>
    //Number of exercises that would get coloured
    var numberOfExercises = 30;

    document.onLoad(initializeData());

    /**
    * Colours all rows on page load
    * */
    function initializeData() {
        if(document.getElementById('trainingHasStarted').value == "false"){
            document.getElementById('firstButtonSet').style.display = "inherit";
            document.getElementById('secondButtonSet').style.display = "none";
        } else{
            document.getElementById('firstButtonSet').style.display = "none";
            document.getElementById('secondButtonSet').style.display = "inherit";
        }
        for (var i = 0; i < numberOfExercises; i++){
            colourCoding(i+1);
        }
    }

    /**
    * Decides which row to colour
    * @arg {Integer} exerciseID - the id number of the exercise
    * */
    function colourCoding(exerciseID){
        var exercise = "exercise" + exerciseID;
        var currentID = "orderNumber" + exerciseID;
        var currentOrder = document.getElementById(currentID).innerHTML;
        document.getElementById(exercise).style.background = colorPick(currentOrder);
    }

    /***
    * Picks the color of the row depending on the order it is in
    * @arg {String} orderNumber - the Value of the order variable of this exercise
    * @returns - the hexadecimal color value that the row is going to be.
    * **/
    function colorPick(orderNumber){
        var colour = "#ffaa00";
        var testingVariable = orderNumber.charCodeAt(0);
        if (testingVariable %2 == 0) {
            colour = "#bbff66";
        }
        return colour;
    }

</script>

</body>
</html>