<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>User Startup</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <div th:include="/fragments/navbar :: navbar_style"></div>
    <style>
    </style>
</head>

<body>

<div sec:authorize="hasRole('MOD')">
    <div th:replace="/fragments/navbar :: navbar_mod"></div>
</div>

<div sec:authorize="hasRole('USER')">
    <div th:replace="/fragments/navbar :: navbar_user"></div>
</div>

<div class="container">
    <div class="jumbotron">
        <div class="container" style="text-align: center; height: 200px">
            <h1>Willkommen zurück</h1>
            <div > Begrüßungstext für Nutzer</div>
        </div>
        <div style="width: 100%; text-align: center; padding-bottom: 20px">
            <table style="width: 100%; text-align: center; padding-bottom: 20px">
                <tr style="height: 100px;">
                    <td style="width: 50%; height: inherit;">
                        <div class="container" style="height: 100%; width: 100%;">
                            <!--------- Training Page ---------->
                            <a th:href="@{/user/plan/overview}" type="button"
                               class="btn btn-success" style="height: 100%; width: 100%;">
                                <span class="glyphicon glyphicon-th-list" style="font-size: 5rem;"></span><br>
                                Training<br>starten
                            </a>
                        </div>
                    </td>
                    <td style="width: 50%; height: inherit;">
                        <div class="container" style="height: 100%; width: 100%;">
                            <!--------- Social Page ---------->
                            <a type="button"
                               class="btn btn-info" style="height: 100%; width: 100%;">
                                <span class="glyphicon glyphicon-thumbs-up" style="font-size: 5rem;"></span><br>
                                Social
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 100%; text-align: center; padding-bottom: 20px">
            <table style="width: 100%; text-align: center; padding-bottom: 20px">
                <tr style="height: 100px;">
                    <td style="width: 50%; height: inherit;">
                        <div class="container" style="height: 100%; width: 100%;">
                            <!--------- Statistics Page---------->
                            <a type="button"
                               class="btn btn-primary" style="height: 100%; width: 100%;">
                                <span class="glyphicon glyphicon-book" style="font-size: 5rem;"></span><br>
                                Statistiken
                            </a>
                        </div>
                    </td>
                    <td style="width: 50%; height: inherit;">
                        <div class="container" style="height: 100%; width: 100%;">
                            <!--------- contacting-trainer Page ---------->
                            <a type="button"
                               class="btn btn-warning" style="height: 100%; width: 100%;">
                                <span class="glyphicon glyphicon-bell" style="font-size: 5rem;"></span><br>
                                Trainer<br>kontaktieren
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>