<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Nutzerdaten eingeben</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <div th:include="/fragments/navbar :: style_fragment"></div>
    <style>
        * {
            box-sizing: border-box;
        }
        .col-container {
            display: table;
            width: 100%;
        }
        .col {
            display: table-cell;
            padding: 5px;
        }
        .col-no-yes,
        .col-plan {
            width: 50%;
        }
        .col-frequency {
            width: 33.3%;
        }
        @media only screen and (max-width: 600px) {
            .col {
                display: block;
                width: 100%;
            }
        }
        .panel-plan-art .panel-heading {
            background-color: #fd8900;
            color: #ecf0f1;
        }
        img {
            border: 4px solid #ddd;
            border-radius: 50%;
            width: 100%;
        }
        img:hover {
            /*box-shadow: 0 0 5px 3px rgba(0, 140, 186, 0.5);*/
            box-shadow: 0 0 5px 3px rgba(253, 137, 0, 0.5);
        }
        a:focus,
        a:active {
            outline: none;
        }
    </style>
</head>
<body>
<div th:replace="/fragments/navbar :: navbar_user"></div>

<div class="container">
    <div class="panel panel-default outerPanel">
        <div class="panel-body">
            <div id="myCarousel" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                    <!-- Carousel page for personal data input -->
                    <div class="item active">
                        <div class="jumbotron">
                            <div class="container-fluid">
                                <h2>Relevante Informationen für deinen Trainingsplan angeben</h2>
                                <br>
                                <p style="font-size: 14px">
                                    Fülle jeweils das aktuelle Formular oder triff deine Wahl und bestätige deine Angaben mit
                                    einem Klick auf den Button <mark>"Weiter"</mark>. Nachdem du alle notwendigen Informationen
                                    angegeben hast, werden dir deine Angaben noch einmal angezeigt und du kannst diese endgültig
                                    absenden.
                                </p>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading" align="center">
                                <h5><b>Persönliche Daten eingeben (Optional?)</b></h5>
                            </div>
                            <div class="panel-body">
                                <div class="col-md-12">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="firstname">Vorname:</label>
                                                    <input  type="text" class="form-control" id="firstname"
                                                            placeholder="Hier deinen Vornamen eingeben..."
                                                            required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="lastname">Nachname:</label>
                                                    <input  type="text" class="form-control" id="lastname"
                                                            placeholder="Hier deinen Nachnamen eingeben..."
                                                            required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="gender">Geschlecht auswählen</label>
                                                    <select id="gender" class="form-control" required>
                                                        <option selected disabled hidden>Wähle eine Option aus...</option>
                                                        <option>Männlich</option>
                                                        <option>Weiblich</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="age">Geburtsdatum:</label>
                                                    <input  type="date" class="form-control" style="height: auto"
                                                            placeholder="Hier deinen Geburtsdatum eingeben..." id="age">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="height">Körpergröße: (in cm)</label>
                                                    <input  type="number" class="form-control" id="height"
                                                            placeholder="Hier deine Größe in cm eingeben...">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="weight">Gewicht: (in kg)</label>
                                                    <input  type="number" class="form-control" id="weight"
                                                            placeholder="Hier dein Gewicht in kg eingeben...">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="row">
                                    <div class="col-md-10"></div>
                                    <div class="col-md-2">
                                        <a href="#myCarousel" class="btn btn-success btn-block" data-slide="next">
                                            Weiter
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel page to determine the users wants an individual plan or a bullet plan -->
                    <div class="item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="#myCarousel" class="btn btn-danger btn-block" id="btnReturnPage1"
                                           data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            Zurück
                                        </a>
                                    </div>
                                    <div class="col-md-8" align="center">
                                        <h5><b>Trainingsplanart wählen</b></h5>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="col-container">
                                    <div class="col col-plan">
                                        <br>
                                        <div class="panel panel-default panel-plan-art">
                                            <div class="panel-heading" align="center">
                                                Eintages-Trainingsplan
                                            </div>
                                            <div class="panel-body">
                                                <p style="font-size: 14px">
                                                    Mit einem Eintagesplan erhältst du eine Auswahl an Trainingsübungen,
                                                    die du an dem einen enthaltenen Trainingstag beliebig oft mit sich
                                                    steigernder Schwierigkeit ausführen
                                                </p>
                                                <div class="visible-md visible-lg">
                                                    <br><br><br>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                <a class="btn button btn-block" id="btnSingleDayPlan"
                                                   onclick="jumpToBulletEnd()">
                                                    Auswählen
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col col-plan">
                                        <br>
                                        <div class="panel panel-default panel-plan-art">
                                            <div class="panel-heading" align="center">
                                                Individueller Trainingsplan
                                            </div>
                                            <div class="panel-body">
                                                <p style="font-size: 14px">
                                                    Mit dieser Auswahl bekommst einen auf deine Bedürfnisse
                                                    zugeschnittenen Trainingsplan, der sich an deinen Fähigkeiten
                                                    orientiert und sich gemeinsam mit dir verändert.
                                                    <br><br>
                                                    Dieser Plan kann sich je nach Auswahl über mehrere Wochen
                                                    erstrecken und bestimmte Trainingsziele beinhalten.
                                                </p>
                                            </div>
                                            <div class="panel-footer">
                                                <a class="btn button btn-block" id="btnIndividualPlan"
                                                   href="#myCarousel" data-slide="next" type="button">
                                                    Auswählen
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel page to determine the users experience level - 1st question -->
                    <div class="item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="#myCarousel" class="btn btn-danger btn-block" id="btnReturnPage2"
                                           data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            Zurück
                                        </a>
                                    </div>
                                    <div class="col-md-8" align="center">
                                        <h5><b>Bisherige Trainingserfahrung</b></h5>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <div class="panel-body" style="text-align: center">
                                <br>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>Hast du zuvor schon einmal regelmäßig trainiert?</h4>
                                        <p class="text-muted" style="font-size: 16px">(Regelmäßig: über einen
                                            längeren Zeitraum mindestens einmal pro Woche)</p>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="col-container">
                                            <div class="col col-no-yes">
                                                <a class="button btn btn-block" id="btn1stQuestionNo"
                                                   onclick="jumpToChooseFocus()">
                                                    Nein
                                                </a>
                                            </div>
                                            <div class="col col-no-yes">
                                                <a class="button btn btn-block" id="btn1stQuestionYes"
                                                   href="#myCarousel" data-slide="next">
                                                    Ja
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel page to determine the users experience level - 2nd question  -->
                    <div class="item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="#myCarousel" class="btn btn-danger btn-block" id="btnReturnPage3"
                                           data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            Zurück
                                        </a>
                                    </div>
                                    <div class="col-md-8" align="center">
                                        <h5><b>Bisherige Trainingserfahrung</b></h5>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <div class="panel-body" style="text-align: center">
                                <br>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>Wie lange ist der Zeitraum des Trainings her, bzw. wie groß ist die
                                            Pause seitdem?</h4>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="col-container">
                                            <div class="col">
                                                <a class="button btn btn-block" id="btnPage3Option1" href="#myCarousel"
                                                   data-slide="next">
                                                    Wenige Monate (1-4)
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a class="button btn btn-block" id="btnPage3Option2" href="#myCarousel"
                                                   data-slide="next">
                                                    Mehrere Monate (5-11)
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a class="button btn btn-block" id="btnPage3Option3" href="#myCarousel"
                                                   onclick="jumpToChooseFocus()">
                                                    Ein Jahr oder länger
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel page to determine the users experience level - 3rd question   -->
                    <div class="item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="#myCarousel" class="btn btn-danger btn-block" id="btnReturnPage4"
                                           data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            Zurück
                                        </a>
                                    </div>
                                    <div class="col-md-8" align="center">
                                        <h5><b>Bisherige Trainingserfahrung</b></h5>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <div class="panel-body" style="text-align: center">
                                <br>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>Wie lange hast du in dem besagten Zeitraum durchgängig regelmäßig
                                            trainiert?</h4>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="col-container">
                                            <div class="col">
                                                <a class="button btn btn-block" id="btnPage4Option1" href="#myCarousel"
                                                   onclick="jumpToChooseFocus()">
                                                    Wenige Monate (1-4)
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a class="button btn btn-block" id="btnPage4Option2" href="#myCarousel"
                                                   data-slide="next">
                                                    Mehrere Monate (5-11)
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a class="button btn btn-block" id="btnPage4Option3" href="#myCarousel"
                                                   data-slide="next">
                                                    Ein Jahr oder länger
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel page to determine the users experience level - 4th question   -->
                    <div class="item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="#myCarousel" class="btn btn-danger btn-block" id="btnReturnPage5"
                                           data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            Zurück
                                        </a>
                                    </div>
                                    <div class="col-md-8" align="center">
                                        <h5><b>Bisherige Trainingserfahrung</b></h5>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <div class="panel-body" style="text-align: center">
                                <br>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>
                                            Wie oft hast du in diesem Zeitraum regelmäßig in einer Woche trainiert?
                                        </h4>
                                        <p class="text-muted" style="font-size: 16px">
                                            (Durchschnittlich, falls nicht konstant)
                                        </p>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="col-container">
                                            <div class="col">
                                                <a class="button btn btn-block" id="btnPage5Option1" href="#myCarousel"
                                                   data-slide="next">
                                                    Einmal pro Woche
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a class="button btn btn-block" id="btnPage5Option2" href="#myCarousel"
                                                   data-slide="next">
                                                    Zweimal pro Woche
                                                </a>
                                            </div>
                                            <div class="col">
                                                <a class="button btn btn-block" id="btnPage5Option3" href="#myCarousel"
                                                   data-slide="next">
                                                    Dreimal oder häufiger
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel page to choose the trainingsfocus -->
                    <div class="item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a class="btn btn-danger btn-block" id="btnReturnPage6"
                                           onclick="jumpToExperience()">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            Zurück
                                        </a>
                                    </div>
                                    <div class="col-md-8" align="center">
                                        <h5><b>Trainingsfokus auswählen</b></h5>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <h4 align="center">Wähle einen Trainingsfokus aus um fortzufahren</h4>
                                <div class="col-container">
                                    <div class="col">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="overlayContainer">
                                                    <a onclick="jumpToFocus1()">
                                                        <img src="/initFileBackup/Icons/icon_dumbbells.png">
                                                        <div class="overlay">
                                                            <div class="text">
                                                                Muskelfokus
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                <a class="btn button btn-block" id="btnPage6Option1"
                                                   onclick="jumpToFocus1()">
                                                    Muskelfokus
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="overlayContainer">
                                                    <a onclick="jumpToFocus2()">
                                                        <img src="/initFileBackup/Icons/icon_shoe.png">
                                                        <div class="overlay">
                                                            <div class="text">
                                                                Ausdauerfokus
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                <a class="btn button btn-block" id="btnPage6Option2"
                                                   onclick="jumpToFocus2()">
                                                    Ausdauerfokus
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <div class="overlayContainer">
                                                    <a onclick="jumpToFocus3()">
                                                        <img src="/initFileBackup/Icons/icon_scale.png">
                                                        <div class="overlay">
                                                            <div class="text">
                                                                Gewichtsreduktion
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="panel-footer">
                                                <a class="btn button btn-block" id="btnPage6Option3"
                                                   onclick="jumpToFocus3()">
                                                    Gewichtsreduktion
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel page with information about the musclefocus -->
                    <div class="item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a class="btn btn-danger btn-block" id="btnReturnPage7"
                                           onclick="jumpToChooseFocus()">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            Zurück
                                        </a>
                                    </div>
                                    <div class="col-md-8" align="center">
                                        <h5><b>Informationen zum gewählten Muskelfokus</b></h5>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-success btn-block" id="btnContinuePage7"
                                           onclick="jumpToFrequency()">
                                            Weiter
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <h2>Informationen zu Muskelfokus</h2>
                                <p style="font-size: 14px">Beispielinhalt Beispielinhalt Beispielinhalt Beispielinhalt </p>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel page with information about the endurancefocus -->
                    <div class="item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a class="btn btn-danger btn-block" id="btnReturnPage8"
                                           onclick="jumpToChooseFocus()">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            Zurück
                                        </a>
                                    </div>
                                    <div class="col-md-8" align="center">
                                        <h5><b>Informationen zum gewählten Ausdauerfokus</b></h5>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-success btn-block" id="btnContinuePage8"
                                           onclick="jumpToFrequency()">
                                            Weiter
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body" align="center">
                                <h2>Informationen zu Ausdauerfokus</h2>
                                <p style="font-size: 14px">Beispielinhalt Beispielinhalt Beispielinhalt Beispielinhalt </p>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel page with information about the weight-reduction -->
                    <div class="item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a class="btn btn-danger btn-block" id="btnReturnPage9"
                                           onclick="jumpToChooseFocus()">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            Zurück
                                        </a>
                                    </div>
                                    <div class="col-md-8" align="center">
                                        <h5><b>Informationen zur gewählten Gewichtsreduktion</b></h5>
                                    </div>
                                    <div class="col-md-2">
                                        <a class="btn btn-success btn-block" id="btnContinuePage9"
                                           onclick="jumpToFrequency()">
                                            Weiter
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <h2>Informationen zur Gewichtsreduktion</h2>
                                <p style="font-size: 14px">Beispielinhalt Beispielinhalt Beispielinhalt Beispielinhalt </p>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel page to determine the desired trainings per week -->
                    <div class="item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a class="btn btn-danger btn-block" id="btnReturnPage10"
                                           onclick="jumpToChooseFocus()">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            Zurück
                                        </a>
                                    </div>
                                    <div class="col-md-8" align="center">
                                        <h5><b>Trainingshäufigkeit</b></h5>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                            </div>
                            <div class="panel-body" style="text-align: center">
                                <br>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>Wie oft möchtest du durchschnittlich pro Woche trainieren?</h4>
                                    </div>
                                    <div class="panel-footer">
                                        <div class="col-container">
                                            <div class="col col-frequency">
                                                <a class="button btn btn-block" id="btnPage10Option1" href="#myCarousel"
                                                   data-slide="next">
                                                    Einmal
                                                </a>
                                            </div>
                                            <div class="col col-frequency">
                                                <a class="button btn btn-block" id="btnPage10Option2" href="#myCarousel"
                                                   data-slide="next">
                                                    Zweimal
                                                </a>
                                            </div>
                                            <div class="col col-frequency">
                                                <a class="button btn btn-block" id="btnPage10Option3" href="#myCarousel"
                                                   data-slide="next">
                                                    Dreimal oder häufiger
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel page with recommended individual plans -->
                    <div class="item">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a href="#myCarousel" class="btn btn-danger btn-block" id="btnReturnPage11"
                                           data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            Zurück
                                        </a>
                                    </div>
                                    <div class="col-md-8" align="center">
                                        <h5><b>Abschlussseite</b></h5>
                                    </div>
                                    <!--
                                    <div class="col-md-2">
                                        <a type="button" data-toggle="modal" data-target="#modal_preview"
                                           class="btn btn-success btn-block">
                                            <span class="glyphicon glyphicon-blackboard"></span>
                                            Vorschau
                                        </a>
                                    </div>-->
                                </div>
                            </div>
                            <div class="panel-body" align="center">
                                <h3>Liste mit vorgeschlagenen individuellen Planvorlagen ?</h3>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel page with recommended bullet training plans -->
                    <div class="item">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-md-2">
                                        <a class="btn btn-danger btn-block" id="btnReturnPage12"
                                           onclick="jumpToChoosePlan()">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            Zurück
                                        </a>
                                    </div>
                                    <div class="col-md-8" align="center">
                                        <h5><b>Abschlussseite</b></h5>
                                    </div>
                                    <!--
                                    <div class="col-md-2">
                                        <a type="button" data-toggle="modal" data-target="#modal_preview"
                                           class="btn btn-success btn-block">
                                            <span class="glyphicon glyphicon-blackboard"></span>
                                            Vorschau
                                        </a>
                                    </div>-->
                                </div>
                            </div>
                            <div class="panel-body" align="center">
                                <h3>Liste mit vorgeschlagenen Eintages-Plänen ?</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal with example data to show at the end of carousel
<div id="modal_preview" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Eingegebene persönliche Daten:</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleFirstname">Vorname:</label>
                            <input  type="text" class="form-control" value="Benedikt" disabled id="exampleFirstname">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleLastname">Nachname:</label>
                            <input  type="text" class="form-control" value="Schwarz" disabled id="exampleLastname">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleGender">Geschlecht:</label>
                            <input id="exampleGender" type="text" class="form-control" disabled value="Männlich">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleAge">Alter:</label>
                            <input id="exampleAge"  type="text" class="form-control" disabled value="21" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleHeight">Körpergröße: (in cm)</label>
                            <input  type="text" class="form-control" id="exampleHeight" value="183" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleWeight">Gewicht: (in kg)</label>
                            <input type="text" class="form-control" id="exampleWeight" value="80" disabled>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleExperience">Gewählte Erfahrungsstufe:</label>
                    <input id="exampleExperience" type="text" class="form-control" disabled value="Anfänger">
                </div>

                <div class="form-group">
                    <label for="exampleFocus">Gewählter Trainingsfokus:</label>
                    <input id="exampleFocus" type="text" class="form-control" disabled value="Muskelfokus">
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Zurück</button>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-3">
                        <a type="button" class="btn btn-primary btn-block" th:href="@{/user/plan}">
                            Absenden
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<script>
    /**
     * Tests the value in the input field on Null or empty
     * @param id the id of the input field checked witht his method
     * @return if the value passes the evaluation
     */
    function checkNotEmpty(id) {
        var passesTest = true;
        console.log(id);
        var valueInField = document.getElementById(id).value;
        console.log(valueInField);
        if (valueInField == null || valueInField == "") {
            passesTest = false;
            console.log(id + " :checkNotEmpty : failed");
        }
        console.log(id + " :checkNotEmpty : passed");
        return passesTest;
    }

    /**
     * Tests the value in the input field on Null, empty or special characters
     * @param id the id of the input field checked witht his method
     * @return if the value passes the evaluation
     */
    function checkSpecialCharacters(id){
        var passesTest = checkNotEmpty(id);
        var valueInField = document.getElementById(id).value;
        console.log(id + " :checkSpcialCharaters : value : " + valueInField);
        var format = /[ !@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/;
        if (format.test(valueInField)){
            passesTest = false;
            console.log(id + " :checkSpcialCharaters : failed");
        }
        return passesTest;
    }

    /**
     * Tests the value in the input on if it only has Letters from a-Z
     * @param id the id of the input field checked witht his method
     * @return if the value passes the evaluation
     */
    function checkText(id){
        if (checkSpecialCharacters(id)) {
            var format = /^[a-zäöüA-ZÄÄÖÜ ]+$/
            var valueInField = document.getElementById(id).value;
            var passesTest =  format.test(valueInField);
            if (passesTest){
                console.log(id + " :checkText : passed");
                return true;
            }
        }
        console.log(id + " :checkText : failed");
        return false;
    }

    /**
     * Tests the value in the input field on if it is a Number
     * @param id the id of the input field checked witht his method
     * @return if the value passes the evaluation
     */
    function checkNumber(id) {
        if (checkNotEmpty(id)) {
            var valueInField = document.getElementById(id).value;
            if (!isNaN(valueInField)){
                console.log(id + " :checkNumber : passed");
                return true;
            }
        }
        console.log(id + " :checkNumber : failed");
        return false;
    }
</script>

<script>
    /**
     * Function to jump to the crousel page to determine type of plan
     */
    function jumpToChoosePlan() {
        $('#myCarousel').carousel(1);
    }

    /**
     * Function to jump to the crousel page to determine the experience level
     */
    function jumpToExperience() {
        $('#myCarousel').carousel(2);
    }

    /**
     * Function to jump to the crousel page to choose the focus
     */
    function jumpToChooseFocus() {
        $('#myCarousel').carousel(6);
    }

    /**
     * Function to jump to the crousel page with information to the page about musclefocus
     */
    function jumpToFocus1() {
        $('#myCarousel').carousel(7);
    }

    /**
     * Function to jump to the crousel page with information to the page about enduracefocus
     */
    function jumpToFocus2() {
        $('#myCarousel').carousel(8);
    }

    /**
     * Function to jump to the crousel page with information to the page about painreduction
     */
    function jumpToFocus3() {
        $('#myCarousel').carousel(9);
    }

    /**
     * Function to jump to the crousel page to choose trainings frequency
     */
    function jumpToFrequency() {
        $('#myCarousel').carousel(10);
    }

    /**
     * Function to jump to the crousel page to choose the final page
     */
    function jumpToEnd() {
        $('#myCarousel').carousel(11);
    }

    /**
     * Function to jump to the crousel page to choose the final page
     */
    function jumpToBulletEnd() {
        $('#myCarousel').carousel(12);
    }

    /**
     * Temporary function to show alert after data is supposed to be stored
     */
    function sendData() {
        alert("Persönliche Daten wurden gespeichert");
    }
</script>
</body>
</html>