<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Willkommen bei Core</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <div th:include="/fragments/navbar :: style_fragment"></div>
    <style>
        body {
            background-image:  linear-gradient(rgba(255,255,255,0.35), rgba(255,255,255,0.35)),
            url("./images/Hintergründe/background_gym_5_greyscale.jpg");
        }
    </style>
</head>
<body>
<div class="container" style="padding-top: 20px">
    <!-- Custom navbar for welcome page with just one button -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target="#navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">Core</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" style="padding-left: 15px">
                    <a th:href="@{/login}" type="button" class="btn btn-default navbar-btn">
                        Zur Anmeldung <span class="glyphicon glyphicon-arrow-right"></span>
                    </a>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <!-- Panel with welcome message and general information -->
    <div class="panel panel-default outerPanel">
        <div class="panel-heading">
            <h2>Willkommen bei "Core"</h2>
            <p th:text="'Eine Bestätigungs-EMail wurde an: ' + ${email} + ' versandt!'"></p>
        </div>

    <!-- Panel with information on how to create an individual trainingsplan
    <div class="panel panel-default outerPanel">
        <div class="panel-heading">
            <h4>Trainingsplan ers</div>tellen</h4>
        </div>
        <div class="panel-body">
            <p style="font-size: 16px">
                Infos und Anleitung zur Erstellung eines eigenen Trainingsplans mit Beispiel-Screenshots
            </p>
        </div>
    </div>-->
    <!-- Panel with information on how to train with the website --
    <div class="panel panel-default outerPanel">
        <div class="panel-heading">
            <h4>Mit der Webseite trainieren</h4>
        </div>
        <div class="panel-body">
            <p style="font-size: 16px">
                Infos und Anleitung zum Trainieren mit der Webseite mit Beispiel-Screenshots und Erklärungen
            </p>
        </div>
    </div>-->
    <!-- Panel with additional information --
    <div class="panel panel-default outerPanel">
        <div class="panel-heading">
            <h4>Weitere Infos</h4>
        </div>
        <div class="panel-body">
            <p style="font-size: 16px">
                Weitere Infos bla bla bla....
            </p>
        </div>-->
        <div class="panel-footer">
            <div class="row">
                <div class="col-md-9"></div>
                <div class="col-md-3">
                    <a th:href="@{/login}" type="button" class="btn btn-default btn-block">
                        Zur Anmeldung <span class="glyphicon glyphicon-arrow-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>