<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>In exercise</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
        /********************container Styles**********************/
        html, body {
            width: 100%;
            height: 100%;
        }

        .greyContainer {
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .highlightedContainer {
            background: #fd8900; /*light orange*/
            border: 2px solid #2E2E2E;
            display: flex;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 100%;
        }

        .colourlessContainer{
            display: flex;
            align-items: center;
            text-align: center;
            width: 100%;
            height: 100%;
        }

        /******************** Button Styles**********************/
        .btn-group-toggle{
            transform: scale(0.8);
        }

        .fullsize{
            width: 100%;
            height: 100%;
            text-align: center;
        }

        .btn-secondary{
            font-size: smaller;
        }

        /******************** Table Styles **********************/
        #exerciseDetails {
            text-align: center;
            width: 100%;
            height: 100%;
        }

        #exerciseDetails td {
            width: 50%;
        }

    </style>
</head>
<body>



<!-- Modal -->
<div id="exerciseModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container">
                    <div class="jumbotron">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Name:
                            </div>
                            <div class="panel-body">
                                <p></p>
                            </div>
                        </div>
                        <div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Beschreibung:
                                </div>
                                <div class="panel-body">
                                    <p ></p>
                                </div>
                            </div>
                            <div class="panel panel-default" >
                                <div class="panel-heading">
                                    Beispielvideo:
                                </div>
                                <div class="panel-body">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe  width="560" height="315"
                                                frameborder="0" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <p>
                                        Muskelgruppen Bilder:</p>
                                </div>
                                <div class="panel-body">

                                    <div
                                         class="image">
                                        <img/>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default" >
                                <div class="panel-heading">
                                    <p>Andere
                                        Bilder:</p>
                                </div>
                                <div class="panel-body">
                                    <div
                                         class="image">
                                        <img/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container" id="toggledAlert" >
                <div class="container">
                    <h5 style="color: red; text-align: center; background: #e3f2fd; border: 1px solid black;">
                        Es ist nicht empfohlen die alternativen Übungen zu wählen.
                        Wenn die Entscheidung aus gesundheitlichen Gründen folgt,
                        so kontaktieren sie einen Trainer.
                    </h5>
                    <div class="row">
                        <div class="container" style="width: 80%">
                            <div class="form-group">
                                <select id="weightType" class="form-control">
                                    <option>Diese Übung</option>
                                    <option>Alternative Xyz</option>
                                </select>
                            </div>
                        </div>
                        <button type="button" style="width: 20%"
                                class="btn btn-secondary" onclick="enableSave()">
                            Ok
                        </button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                    <button type="button"
                            class="btn btn-block btn-success" style="font-size: small" onclick="safeAlternativeExercise()" disabled id="button_saveExercise">
                        Übung festlegen
                    </button>
                    <button type="button"
                            class="btn btn-block btn-warning" data-toggle="button" aria-pressed="false" style="font-size: small" onclick="toggleExercise()">
                        Alternative
                    </button>
                    <button type="button"
                            class="btn btn-block btn-danger" data-dismiss="modal" style="font-size: small" id="closeInfoModal">
                        Zurück
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="leavePageModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="jumbotron" style="text-align: center;">
                    <h4>Willst du die Übung abbrechen und zur Trainingsplanseite Zurückkehren?</h4>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container" style="width: 45%;">
                    <a type="button"
                            class="btn btn-block btn-danger" th:href="@{/user/plan/overview}">
                        Zum Plan
                        <!--- TODO controller link back to plan, no changes made to current session-->
                    </a>
                </div>
                <div class="container" style="width: 45%;">
                    <button type="button"
                            class="btn btn-block btn-success" data-dismiss="modal" id="continueButton">
                        Weitermachen
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--- Module that opens if you try to continue to the next set with an invalid repition number --->
<div id="noValidInputModule" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="jumbotron" style="text-align: center;">
                    <h4>Please enter a valid input.</h4>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container" >
                    <button type="button"
                            class="btn btn-secondary" data-dismiss="modal" id="button_noValidInputModule">
                        Ok
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--- Titlebar of the exercise --->
<div class="highlightedContainer" id="container_planExerciseName"
     style="height: 10%;">
    <div style="width: 80%;">
        <h2>Klimmzüge</h2>
    </div>
    <div style="width: 5%"></div>
    <button data-toggle="modal" data-target="#exerciseModal" class="btn btn-info" id="infoButton">
        i
    </button>
</div>

<!--- Description to current exercise --->
<div class="greyContainer" id="container_planInstructions"
     style="height: 10%;">
    <div  id="container_planDetails" style="
            overflow-y: scroll; overflow-x: fragments;">
        Massive anmerkungen zum text obwohl hier wahrscheinlich nie mehr als
        ein zwei wörter stehen wird
    </div>
</div>

<!--- Details to the current exercise--->
<div class="orangeContainer" id="container_planExerciseData"
     style="height: 40%;">
    <table id="exerciseDetails" class="table-striped table-bordered">
        <tr>
            <td>Gewicht</td>
            <td>Eigen</td>
        </tr>
        <tr>
            <td>Tempo</td>
            <td>Langsam</td>
        </tr>
        <tr>
            <td>Pause</td>
            <td>
                <span id="pauseTime" ></span></td>
        </tr>
        <tr>
            <td>Sätze</td>
            <td>
                <span class="value"></span>
            </td>
        </tr>
        <tr>
            <td>Wiederholungen</td>
            <td>
                <span class="doneReps" id="neededReps"></span>
            </td>
        </tr>
    </table>
</div>

<!--- Adjustable repition counter for the current set --->
<div style="height: 10%;">
    <div class="row" style="height: 60%; width: 100%;">
        <div style="width: 30%; height: 100%">
            <button type="button"
                    class="btn btn-secondary fullsize" onclick="decreaseReps()" id="buttonDecrease" disabled>
                -
            </button>
        </div>
        <div style="width: 40%; height: 100%">
            <form class="fullsize">
                <input class="fullsize" type="number" oninput="updateReps()" id="repInput" value="999" style="text-align: center" disabled>
            </form>
        </div>
        <div style="width: 30%; height: 100%">
            <button type="button"
                    class="btn btn-secondary fullsize" onclick="increaseReps()" id="buttonIncrease" disabled>
                +
            </button>
        </div>
    </div>
    <div style="height: 40%">
        <p style="text-align: center">Geschaffte Wiederholungen in diesem Satz</p>
    </div>
</div>

<!--- Highlighted box with Timer and Evaluation --->
<div class="highlightedContainer" id="container_timerAndEvaluation"
     style="height: 20%;">
    <!--- Timer --->
    <div class="colourlessContainer" id="container_timerBox">
        <div style="width: 30%;  height: 100%; padding: 1%">
            <button type="button" style="width: 100%; height: 45%"
                    class="btn-block btn-secondary" id="buttonRecommended"
                    onclick="recommendedTime()" disabled>
                Empfohlene Zeit
            </button>
            <button type="button" style="width: 100%; height: 45%"
                    class="btn-block btn-secondary" id="buttonStop"
                    onclick="stopTimer()" disabled>
                Zurücksetzen
            </button>
        </div>
        <div class="container" style="width: 40%;">
            <h1><span id="time">00:00</span></h1>
        </div>
        <div style="width: 30%;  height: 100%; padding: 1%">
            <button type="button" style="width: 100%; height: 45%"
                    class="btn-block btn-secondary" id="button60s"
                    onclick="parseTime(60)" disabled>
                60s
            </button>
            <button type="button" style="width: 100%; height: 45%"
                    class="btn-block btn-secondary" id="button30s"
                    onclick="parseTime(30)" disabled>
                30s
            </button>
        </div>
    </div>

    <!--- Evaluation --->
    <div id="container_evaluationBox" class="fullsize">
        <div class="container fullsize">
            <div class="btn-group btn-group-toggle fullsize" data-toggle="buttons" id="radioButtonGroup">
                <button class="btn btn-secondary fullsize" name="radioButton">
                    <input type="radio" id="difficulty1"> sehr <br> ein <br>fach
                </button>
                <button class="btn btn-secondary fullsize" name="radioButton">
                    <input type="radio" id="difficulty2"> zu <br> ein <br>fach
                </button>
                <button class="btn btn-secondary fullsize active" name="radioButton">
                    <input type="radio" id="difficulty3"> passt
                </button>
                <button class="btn btn-secondary fullsize" name="radioButton">
                    <input type="radio" id="difficulty4"> zu <br> hart
                </button>
                <button class="btn btn-secondary fullsize" name="radioButton">
                    <input type="radio" id="difficulty5"> Viel <br> zu <br> hart
                </button>
            </div>
        </div>
    </div>
</div>

<!--- Back/Cancel and Completion/Start buttons--->
<div class="orangeContainer" style="height: 10%;">
    <div style="height: 20%">
    </div>
    <div class="row" style="width: 100%; height: 80%;">
        <div style="width: 10%;"></div>
        <div style="width: 30%;" id="backButton">
            <a type="button"
                    class="btn btn-block btn-danger fullsize"  onclick="leavePage()">
                Zurück
            </a>
        </div>
        <div style="width: 30%;" id="exitButton">
            <button type="button"
                    class="btn btn-block btn-danger fullsize"  data-toggle="modal" data-target="#leavePageModal" id="exitExerciseButton">
                Abbrechen
            </button>
        </div>
        <div style="width: 30%;"></div>
        <div style="width: 30%;">
            <button type="button"
                    class="btn btn-block btn-success fullsize" id="startButton" onclick="exerciseFunction()" style="font-size: small">
                <span class="buttonName"></span>
            </button>
        </div>
    </div>
</div>

<!--- Button functionality and display --->
<script>
    var warningHidden = true;

    document.onLoad(initialLoad());
    function initialLoad(){
        warningHidden = true;
        document.getElementById('toggledAlert').style.display = "none";
        document.getElementById('button_saveExercise').style.display = "none";
        document.getElementById('exitButton').style.display = "none";
    }

    function enableSave(){
        document.getElementById('button_saveExercise').disabled = false;
    }

    function leavePage(){
        window.location = "overview";
    }

    function safeAlternativeExercise() {
        /*TODO write data to DB */
    }

    function toggleExercise() {
        if (warningHidden){
            warningHidden = false;
            document.getElementById('toggledAlert').style.display = "inherit";
            document.getElementById('button_saveExercise').style.display = "inherit";
        } else{
            warningHidden = true;
            document.getElementById('toggledAlert').style.display = "none";
            document.getElementById('button_saveExercise').style.display = "none";
            document.getElementById('button_saveExercise').disabled = true;
        }
    }

</script>

<!--- Toggle Evaluation/Timer and Rep Counter --->
<script>
    /***
     * Needed parameters for Stopwatch functionality
     * */
    var timerID = 0;

    /***
     * Needed parameters for Rep counter
     * */
    var totalReps = 12;
    var currentReps = totalReps;
    var valueCheck = totalReps;

    /***
     * Needed parameters for Container Switch
     * */
    var timerBox = document.getElementById("container_timerBox");
    var evaluationBox = document.getElementById("container_evaluationBox");
    var currentCounter = 0;
    var setCounter = 4;
    var labelValue = currentCounter + "/" + setCounter;
    var pauseTimeValue = 90;
    var buttonTitle = "Starten";
    var buttonBackTitle = "Zurück";
    var done = false;


    /***
     * Instancing first values for both scripts
     * */
    document.onLoad(initializeReps());
    function initializeReps() {
        document.getElementById('repInput').value = currentReps;
        document.querySelector('.doneReps').innerHTML = totalReps;
        evaluationBox.style.display = "none";
        document.querySelector('.value').innerHTML = labelValue;
        document.getElementById('pauseTime').innerHTML = pauseTimeValue + " " +"s";
        document.querySelector('.buttonName').innerHTML = buttonTitle;
        document.querySelector('.buttonBack').innerHTML = buttonBackTitle;
    }

    /***
     * Stopwatch functions
     * JS needed for the stopwatch to work
     ***/
    function startTimer(duration, display) {
        var timer = duration, minutes, seconds;
        timerID = setInterval(function () {
            minutes = parseInt(timer / 60, 10);
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                timer = 0;
            }
        }, 1000);
    }

    /***
     * Starts the stopwatch with the given value
     * */
    function parseTime(value) {
        var timeValue = value;
        display = document.querySelector('#time');
        clearInterval(timerID);
        startTimer(timeValue, display);
    }

    /***
     *  Stops the stopwatch and sets time to 0
     * */
    function stopTimer(){
        clearInterval(timerID);
        display.textContent = "00"+ ":" + 0 + 0;
    }

    /***
     *  Starts timer with recommend time from DB
     * */
    function recommendedTime(){
        parseTime(pauseTimeValue);
    }

    /***
     * Rep Counter functions
     * update Values on each input
     ***/
    function updateReps() {
        valueCheck = Math.ceil(document.getElementById('repInput').value);
        if(valueCheck < 2* totalReps && valueCheck> 0){
            currentReps = valueCheck;
        } else if(valueCheck == ""){

        }else{
            currentReps = totalReps;
            valueCheck = currentReps;
            document.getElementById('repInput').value = currentReps;
        }

    }

    /***
     * Decrease Values on each click
     * ***/
    function decreaseReps(){
        if(currentReps > 0){
            currentReps--;
        }
        document.getElementById('repInput').value = currentReps;
    }

    /***
     * Increase Values on each click
     * ***/
    function increaseReps(){
        if(currentReps < 2*totalReps){
            currentReps++;
        }
        document.getElementById('repInput').value = currentReps;
    }

    /***
     *Evaluation/Timer Toggle*
     *Change Values on each click
     * ***/
    function exerciseFunction(){
        /***Can't send empty/illegal inputs***/
        if( !( valueCheck <= 2* totalReps && valueCheck> 0) ){
            $('#noValidInputModule').modal('show');
            valueCheck = currentReps;
        }
        else if (done){
            window.location ="overview";
        }else if (currentCounter == setCounter){
            timerBox.style.display = "none";
            evaluationBox.style.display = "inherit";
            buttonTitle = "Abschließen";
            done = true;
            document.getElementById('buttonDecrease').disabled = true;
            document.getElementById('buttonIncrease').disabled = true;
            document.getElementById('repInput').disabled = true;
        } else if(currentCounter == setCounter -1) {
            buttonTitle = "Evaluation";
            currentCounter++;
        }else{
            currentCounter++;
            buttonTitle = "Satz " + currentCounter + " beenden";
            document.getElementById('buttonDecrease').disabled = false;
            document.getElementById('buttonIncrease').disabled = false;
            document.getElementById('repInput').disabled = false;
            document.getElementById('buttonRecommended').disabled = false;
            document.getElementById('button30s').disabled = false;
            document.getElementById('button60s').disabled = false;
            document.getElementById('buttonStop').disabled = false;
        }
        currentReps = totalReps;
        labelValue = currentCounter + "/" + setCounter;
        document.getElementById('repInput').value = currentReps;
        document.getElementById('backButton').style.display = "none";
        document.getElementById('exitButton').style.display = "inherit";
        document.querySelector('.value').innerHTML = labelValue;
        document.querySelector('.buttonName').innerHTML = buttonTitle;
        stopTimer();
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>