<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Startup</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>

<div th:replace="/fragments/user_navbar :: main"></div>

<div class="container" style="padding: 5%">
    <div class="jumbotron">
        <a th:href="@{/user/plan}" type="button"
           class="btn btn-default btn-block">
            Training starten
        </a>
        <a type="button"
           class="btn btn-default btn-block">
            Social
        </a>
        <a type="button"
           class="btn btn-default btn-block">
            Statistiken
        </a>
        <a type="button"
           class="btn btn-default btn-block">
            Trainer kontaktieren
        </a>
    </div>
</div>
</body>
</html>